<h1>Hey there!</h1>
<p>Please click this link to confirm your email address:</p>
<a class="confirm-btn" href="<%= root_url %>users/<%= @user.confirm_token %>/confirm-email">Confirm email</a>
<p>Were you not expecting this message? Just ignore it and everything will be fine!</p>
<a href="<%= root_url %>">superkayo.xyz</a>