<h1>Hey there!</h1>
<p>Please click this link to reset your password:</p>
<a class="confirm-btn" href="<%= root_url %>users/<%= @user.reset_password_token %>/reset-password">Reset Password</a>
<p>Were you not expecting this message? Just ignore it and everything will be fine!</p>
<a href="<%= root_url %>">superkayo.xyz</a>
