<% title @article.title %>
<div class="modal delete-modal modal-inactive" id="article-delete-modal">
	<div>
		<h2>Confirmation</h2>
	</div>
	<%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
	<p>Are you sure you want to delete this article?</p>
	<a class="delete-confirm-btn delete-article-confirm-btn">Yes, delete it</a>
</div>
<div class="modal delete-modal modal-inactive" id="comment-delete-modal">
	<div>
		<h2>Confirmation</h2>
	</div>
	<input type="text" id="comment-id" value="" name="comment_id" hidden>
	<%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
	<p>Are you sure you want to delete this comment?</p>
	<a class="delete-confirm-btn delete-comment-confirm-btn">Yes, delete it</a>
</div>
<% if @current_user && @current_user.email_confirmed %>
<div id="edit-comment-form-container" class="modal modal-inactive">
	<div>
		<h2>Edit comment</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'report-close modal-close' %>
	<form id="edit-form" class="modal-form" action="/comments/update" accept-charset="UTF-8" data-remote="true" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input id="edit-comment-id" type="text" name="comment[comment_id]" value="" hidden>
		<div class="modal-form-input-container">
			<label for="edit-comment-body"><p>Text:</p></label>
			<textarea id="edit-comment-body" placeholder="Type your text here" name="comment[body]"></textarea>
            <script>
                var commentContent = new EasyMDE({ element: $('#edit-comment-body')[0] });
            </script>
		</div>
		<input class="edit-submit-btn" type="submit" name="commit" value="Save edit">
		<div class="submit-message shrunk">
			<p>Your comment has been edited!</p>
		</div>
	</form>
</div>
<div id="edit-article-form-container" class="modal modal-inactive">
	<div>
		<h2>Edit article</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
	<form id="edit-form" class="modal-form" action="/articles/update" accept-charset="UTF-8" data-remote="true" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input id="edit-article-id" type="text" name="article[article_id]" value="" hidden>
		<div class="modal-form-input-container">
			<label for="edit-article-body"><p>Text:</p></label>
			<textarea id="edit-article-body" placeholder="Type your text here" name="article[body]"></textarea>
            <script>
                var articleContent = new EasyMDE({ element: $('#edit-article-body')[0] });
            </script>
		</div>
		<input class="edit-submit-btn" type="submit" name="commit" value="Save edit">
		<div class="submit-message shrunk">
			<p>Your article has been edited!</p>
		</div>
	</form>
</div>
<div id="report-form-container" class="modal modal-inactive">
	<div>
		<h2>Submit a report</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'report-close modal-close' %>
	<form id="report-form" class="modal-form" action="/reports/create" accept-charset="UTF-8" data-remote="true" method="post">
		<input id="report-type" type="text" name="report[report_type]" value="" hidden>
		<input id="report-target" type="text" name="report[target_id]" value="" hidden>
		<input id="report-article" type="text" value="<%= @article.id %>" hidden>
		<div class="modal-form-input-container">
			<label for="report-input-container"><p>Report reason:</p></label>
			<select class='report-reason' name="report[reason]" form="report-form" required>
				<option value='Spam'><p>Spam</p></option>
				<option value='Offensive'><p>Offensive content</p></option>
				<option value='Other'><p>Other</p></option>
			</select>
			<label for="report-comment"><p>Comment:</p></label>
			<textarea id="report-comment" placeholder="Any additional notes go here" name="report[comment]"></textarea>
		</div>
		<input type="submit" name="commit" value="Send Report">
		<div class="submit-message shrunk">
			<p>Your report has been submitted!</p>
		</div>
	</form>
</div>
<% end %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="articles-container">
        <div id="main-opacity"></div>
        <div class="article-opacity"></div>
        <div class="article focused">
            <input type="text" id="article-id" value="<%= @article.id %>" hidden>
            <input type="text" id="article-markdown" value="<%= @article.body.gsub(/[\r\n]/, '(NEWLINE)') %>" hidden>
            <div class="article-header focused-featured">
                    <a><img src="<%= @article.banner.variant(resize: "600x600").processed.service_url %>"></a>
                    <a><h2><%= @article.title %></h2></a>
                <div>
                    <div>
                        <div class="avatar-wrapper">
                            <a href="<%= root_url + 'users/' + @article.user.username %>">
                                <%= image_tag user_avatar(@article.user) %>
                            </a>
                        </div>
                        <p>By <a href="<%= root_url + 'users/' + @article.user.username %>"><%= @article.user.username %></a></p>
                    </div>
                    <p>&nbsp;- <%= @article.created_at.strftime('%-d %b %Y') %></p>
                    <p class="article-score">Score: <%= article_upvotes(@article) %></p>
                </div>
            </div>
            <div class="article-body">
                <div id="article-toolbar">
                    <% if @current_user %>
                        <% if @current_user.admin || @article.user.id == @current_user.id %>
                        <%= evil_icon 'ei-trash', size: 's', class: 'post-icon post-trash article-trash', title: 'Delete article' %>
                        <% end %>
                        <% if @article.user != @current_user && @current_user.email_confirmed %>
                        <%= evil_icon 'ei-exclamation', size: 's', class: 'post-icon post-flag article-flag', title: 'Report article' %>
                        <% end %>
                        <% if @article.user.id == @current_user.id %>
                        <%= evil_icon 'ei-pencil', size: 's', class: 'post-icon post-edit article-edit', title: 'Edit article' %>
                        <% end %>
                        <% if @current_user.admin %>
                        <%= evil_icon 'ei-location', size: 's', class: 'post-icon post-edit article-pin' + (@article.featured ? 'green' : ''), title: 'Toggle featured' %>
                        <% end %>
                        <% if @current_user %>
                        <%= evil_icon 'ei-bell', size: 's', class: 'post-icon post-bell article-bell' + (Subscription.find_by(user: @current_user, subscription_type: 'Article', target_id: @article.id).present? ? 'green' : ''), title: 'Toggle notifications' %>
                        <% end %>
                        <% if @current_user && @current_user != @article.user && @current_user.email_confirmed %>
                        <div class="heart-container">
                            <%= evil_icon 'ei-heart', size: 's', class: 'heart-animation hidden' %>
                            <%= evil_icon 'ei-heart', size: 's', class: 'post-icon post-heart' + (Upvote.find_by(user: @current_user, upvote_type: 'article', target_id: @article.id).present? ? 'red' : ''), title: 'Upvote article' %>
                        </div>
                        <% end %>
                    <% end %>
                </div>
                <h4><%= @article.subtitle %></h4>
                <div class="paragraph"><%= parse_markdown(@article.body) %></div>
            </div>
        </div>
        <div id="comments-sidebar">
            <div id="article-comments">
                <h2>Comments</h2>
                <% Comment.where(article: @article).each do | comment | %>
                <div class="comment">
                    <div class="article-opacity"></div>
                    <input type="text" name="comment_id" value="<%= comment.id %>" class="comment-id" hidden>
                    <input class="comment-markdown" type="text" value="<%= comment.body.gsub(/[\r\n]/, '(NEWLINE)') %>" hidden>
                    <div id="comment-toolbar">
                        <% if @current_user %>
                            <% if @current_user.admin || comment.user.id == @current_user.id %>
                            <%= evil_icon 'ei-trash', size: 's', class: 'post-icon post-trash comment-trash', title: 'Delete comment' %>
                            <% end %>
                            <% if comment.user != @current_user && @current_user.email_confirmed %>
                            <%= evil_icon 'ei-exclamation', size: 's', class: 'post-icon post-flag comment-flag', title: 'Report comment' %>
                            <% end %>
                            <% if comment.user.id == @current_user.id %>
                            <%= evil_icon 'ei-pencil', size: 's', class: 'post-icon post-edit comment-edit', title: 'Edit comment' %>
                            <% end %>
                            <% if @current_user %>
                            <%= evil_icon 'ei-redo', size: 's', class: 'post-icon comment-quote', title: 'Quote' %>
                            <% end %>
                            <% if @current_user && @current_user != comment.user && @current_user.email_confirmed %>
                            <div class="heart-container">
                                <%= evil_icon 'ei-heart', size: 's', class: 'heart-animation hidden' %>
                                <%= evil_icon 'ei-heart', size: 's', class: 'post-icon comment-heart' + (Upvote.find_by(user: @current_user, upvote_type: 'comment', target_id: comment.id).present? ? 'red' : ''), title: 'Upvote comment' %>
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="comment-info">
                        <div class="avatar-wrapper">
                            <a href="<%= root_url + 'users/' + comment.user.username %>">
                                <%= image_tag user_avatar(comment.user) %>
                            </a>
                        </div>
                    </div>
                    <div class="comment-text">
                        <p><a href="<%= root_url + 'users/' + comment.user.username %>"><%= comment.user.username %></a> <a>says:</a></p>
                        <div class="comment-body paragraph">
                            <%= parse_markdown(comment.body) %>
                        </div>
                    </div>
                    <div class="comment-date-score">
                        <p class="comment-date">Posted at <%= comment.created_at.strftime("%R %Z, ") %><%= user_date_format(comment.created_at) %></p>
                        <p class="comment-score">Score: <%= comment_upvotes(comment) %></p>
                    </div>
                </div>
                <% end %>
                <% if @current_user %>
                <div id="reply-container">
                    <form id="reply-form" enctype="multipart/form-data" action="<%= root_url + 'comments/create' %>" method="post" data-remote="false">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <input type="text" name="comment[article_id]" value="<%= @article.id %>" hidden>
                        <div id="form-user-info">
                            <%= image_tag user_avatar(@current_user) %>
                        </div>
                        <div id="reply-text-container">
                            <h3>Comment on this article</h3>
                            <textarea id="reply-textarea" name="comment[body]" placeholder="Type your reply here."></textarea>
                            <script>
                                var threadContent = new EasyMDE({ element: $('#reply-textarea')[0] });
                            </script>
                            <input type="submit" value="Submit comment" name="commit">
                        </div>
                    </form>
                </div>
                <% else %>
                <div id="no-login-form">
                    <h2>You must be a member to comment</h2>
                    <p>Log in or register below</p>
                    <form enctype="multipart/form-data" action="<%= root_url %>login" accept-charset="UTF-8" data-remote="true" method="post">
                        <input placeholder="Username" type="text" name="session[username]">
                        <input placeholder="Password" type="password" name="session[password]">
                        <input value="Login" type="submit" name="commit">
                    </form>
                    <a class="register-btn">Create an account</a>
                </div>
                <% end %>
            </div>
            <div id="comment-sidebar">
                <ul id="related-articles">
                    <h2>Related articles</h2>
                    <% Article.where(category: @article.category).limit(5).each do | article | %>
                    <li class="article">
                        <div class="article-header">
                    <a href="<%= articles_path + '/' + article.id.to_s %>"><img src="<%= article.banner.variant(resize: "600x600").processed.service_url %>"></a>
                    <a href="<%= articles_path + '/' + article.id.to_s %>"><h2><%= article.title %></h2></a>
                            <div>
                                <div>
                                    <div class="avatar-wrapper">
                                        <a href="<%= root_url + 'users/' + article.user.username %>">
                                            <%= image_tag user_avatar(article.user) %>
                                        </a>
                                    </div>
                                    <p>By <a href="<%= root_url + 'users/' + article.user.username %>"><%= article.user.username %></a></p>
                                </div>
                                <p>&nbsp;- <%= article.created_at.strftime('%-d %b %Y') %></p>
                                <p class="article-score">Score: <%= article_upvotes(article) %></p>
                            </div>
                        </div>
                        <div class="article-body">
                            <h4><%= article.subtitle %></h4>
                            <p><%= parse_markdown(article.body) %></p>
                        </div>
                        <div class="show-more">
                            <div class="article-link-container">
                                <a href="<%= articles_path + '/' + article.id.to_s %>">Show full article</a>
                                <%= evil_icon 'ei-chevron-right', size: 'm' %>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
