<% title 'Articles' %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="articles-container">
        <div id="main-opacity"></div>
        <ul id="article-list">
            <h2>Popular articles</h2>
        </ul>
    </div>
</div>