<% title 'Articles' %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="articles-container">
        <div id="main-opacity"></div>
        <% if @featured.present? %>
        <div id="featured-article">
            <div class="article-opacity"></div>
            <div class="article featured">
                <div class="article-header">
                    <a href="<%= articles_path + '/' + @featured.id.to_s %>"><img src="<%= @featured.banner.variant(resize: "600x600").processed.service_url %>"></a>
                    <a href="<%= articles_path + '/' + @featured.id.to_s %>"><h2><%= @featured.title %></h2></a>
                    <div>
                        <div>
                            <div class="avatar-wrapper">
                                <a href="<%= root_url + 'users/' + @featured.user.username %>">
                                    <%= image_tag user_avatar(@featured.user) %>
                                </a>
                            </div>
                            <p>By <a href="<%= root_url + 'users/' + @featured.user.username %>"><%= @featured.user.username %></a></p>
                        </div>
                        <p>&nbsp;- <%= @featured.created_at.strftime('%-d %b %Y') %></p>
                        <p class="article-score">Score: <%= article_upvotes(@featured) %></p>
                    </div>
                </div>
                <div class="article-body">
                    <h4><%= @featured.subtitle %></h4>
                    <p class="paragraph"><%= parse_markdown(@featured.body) %></p>
                </div>
                <div class="show-more">
                    <div class="article-link-container">
                        <a href="<%= articles_path + '/' + @featured.id.to_s %>">Show full article</a>
                        <%= evil_icon 'ei-chevron-right', size: 'm' %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <div id="main-content">
            <div class="article-opacity"></div>
            <div id="article-feed">
                <ul id="article-list">
                    <% Article.all.order(:created_at).each do | article | %>
                    <li class="article">
                        <div class="article-header">
                            <a href="<%= articles_path + '/' + article.id.to_s %>"><img src="<%= article.banner.variant(resize: "600x600").processed.service_url %>"></a>
                            <a href="<%= articles_path + '/' + article.id.to_s %>"><h2><%= article.title %></h2></a>
                            <div>
                                <div>
                                    <div class="avatar-wrapper">
                                        <a href="<%= root_url + 'users/' + article.user.username %>">
                                            <%= image_tag user_avatar(article.user) %>
                                        </a>
                                    </div>
                                    <p>By <a href="<%= root_url + 'users/' + article.user.username %>"><%= article.user.username %></a></p>
                                </div>
                                <p>&nbsp;- <%= article.created_at.strftime('%-d %b %Y') %></p>
                                <p class="article-score">Score: <%= article_upvotes(article) %></p>
                            </div>
                        </div>
                        <div class="article-body">
                            <h4><%= article.subtitle %></h4>
                            <p class="paragraph"><%= parse_markdown(article.body) %></p>
                        </div>
                        <div class="show-more">
                            <div class="article-link-container">
                                <a href="<%= articles_path + '/' + article.id.to_s %>">Show full article</a>
                                <%= evil_icon 'ei-chevron-right', size: 'm' %>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div id="article-sidebar">
                <div id="article-submit">
                    <a class="article-submit-btn" href="articles/new">Submit an article <%= evil_icon 'ei-plus', size: 'm' %></a>
                </div>
                <div id="article-categories">
                    <h2>Popular categories</h2>
                    <% Article.select(:category).distinct.each do | article | %>
                    <a class="article-category" href="<%= articles_path + '?category=' + article.category.downcase %>">
                        <p><%= article.category.titleize %></p>
                        <%= evil_icon 'ei-chevron-right', size: 'm' %>
                    <a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>