<% title @title %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<%= image_tag "spinner.gif", class: "spinner hidden" %>
	<div id="board-container">
	    <div id="main-opacity"></div>
	    <h2 id="title"><%= @title %></h2>
        <div class="page-container top">
            <a href="<%= root_url + "thread/#{@category}/new" %>" id="post-thread-btn">Create new thread</a>
            <div>
                <% if @page - 1 > 0 %>
                <a class="icon" href="<%= root_url + "forum/#{@category}?p=#{@page - 1}"%>"><%= evil_icon 'ei-chevron-left', size: 's' %></a>
                <% end %>
                <% (0...(@threads.length / 10.0).ceil).each do | i | %>
                <a class="page-btn <%= tempClass = (i + 1 == @page) ? 'underline' : 'inactive' %>" href="<%= root_url + "forum/#{@category}?p=#{i + 1}" %>"><%= i + 1 %></a>
                <% end %>
                <% if @page + 1 <= (@threads.length / 10.0).ceil %>
                <a class="icon" href="<%= root_url + "forum/#{@category}?p=#{@page + 1}"%>"><%= evil_icon 'ei-chevron-right', size: 's' %></a>
                <% end %>
            </div>
        </div>
        <div id="board-list">
            <ul>
                <% @stickies.each_with_index do | thread, i | %>
                <li class="thread sticky">
                    <% if i % 2 == 0 %>
                    <div id="forum-opacity"></div>
                    <% else %>
                    <% end %>
                    <ion-icon class="pin-icon" name="pin"></ion-icon>
                    <%= evil_icon 'ei-location', size: 's', class: 'pin-icon' %>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + "/#{@category}/t/" + thread.id.to_s %>"><%= thread.title %></a></h3>
                        <p class="author">By <%= link_to thread.user.username, root_url + 'users/' + thread.user.username %>, at <%= user_date_format(thread.created_at) %></p>
                    </div>
                    <div class="activity">
                        <p><%= thread.posts.length - 1 %> replies</p>
                        <p>Last updated at: <%= thread.updated_at.strftime("%R %Z, ") + user_date_format(thread.updated_at) %></p>
                    </div>
                </li>
                <% end %>
                <% @page_threads.each_with_index do | thread, i | %>
                <li class="thread">
                    <% if i % 2 == 0 %>
                    <div id="forum-opacity"></div>
                    <% else %>
                    <% end %>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + "/#{@category}/t/" + thread.id.to_s %>"><%= thread.title %></a></h3>
                        <p class="author">By <%= link_to thread.user.username, root_url + 'users/' + thread.user.username %>, at <%= user_date_format(thread.created_at) %></p>
                    </div>
                    <div class="activity">
                        <p><%= thread.posts.length %> replies</p>
                        <p>Last updated at: <%= thread.updated_at.strftime("%R %Z, ") + user_date_format(thread.updated_at) %></p>
                    </div>
                </li>
                <% end %>
                <div class="page-container bottom">
                    <% if @page - 1 > 0 %>
                    <a class="icon" href="<%= root_url + "forum/#{@category}?p=#{@page - 1}"%>"><%= evil_icon 'ei-chevron-left', size: 's' %></a>
                    <% end %>
                    <% (0...(@threads.length / 10.0).ceil).each do | i | %>
                    <a class="page-btn <%= tempClass = (i + 1 == @page) ? 'underline' : '' %>" href="<%= root_url + "forum/#{@category}?p=#{i + 1}" %>"><%= i + 1 %></a>
                    <% end %>
                    <% if @page + 1 <= (@threads.length / 10.0).ceil %>
                    <a class="icon" href="<%= root_url + "forum/#{@category}?p=#{@page + 1}"%>"><%= evil_icon 'ei-chevron-right', size: 's' %></a>
                    <% end %>
                </div>
            </ul>
        </div>
    </div>
</div>