<% title "Forum" %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="board-container">
        <div id="main-opacity"></div>
        <h2 id="title">Forum</h2>
        <div id="board-list" class="forum-margin">
            <ul>
                <li>
                    <div id="forum-opacity"></div>
                    <a href="<%= forum_path + '/announcements' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/announcements' %>">Announcements</a></h3>
                        <p>Important announcements and PSAs.</p>
                    </div>
                    <div class="activity"><a href="forum/announcements/t/<%= board_last_updated('announcements').id %>"><p>Last updated by <%= board_last_updated('announcements').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('announcements').title %>" <br> at <%= board_last_updated('announcements').updated_at.strftime('%R %Z, ') %><%= user_date_format(board_last_updated('announcements').updated_at) %></p></a></div>
                </li>
                <li>
                    <a href="<%= forum_path + '/rules' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting.</p>
                    </div>
                    <div class="activity"><a href="forum/rules/t/<%= board_last_updated('rules').id %>"><p>Last updated by <%= board_last_updated('rules').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('rules').title %>" <br> at <%= board_last_updated('rules').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('rules').updated_at) %></p></a></div>
                </li>
            </ul>
            <div class="divider"></div>
            <ul>
                <li>
                    <div id="forum-opacity"></div>
                    <a href="<%= forum_path + '/general' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/general' %>">General talk</a></h3>
                        <p>Found a new tune? Think obis are the ugliest thing since plastic CD covers? Discuss it here!</p>
                    </div>
                    <div class="activity"><a href="forum/general/t/<%= board_last_updated('general').id %>"><p>Last updated by <%= board_last_updated('general').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('general').title %>" <br> at <%= board_last_updated('general').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('general').updated_at) %></p></a></div>
                </li>
                <li>
                    <a href="<%= forum_path + '/newcomer' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/newcomer' %>">Newcomer board</a></h3>
                        <p>Tell us a bit about yourself!</p>
                    </div>
                    <div class="activity"><a href="forum/newcomer/t/<%= board_last_updated('newcomer').id %>"><p>Last updated by <%= board_last_updated('newcomer').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('newcomer').title %>" <br> at <%= board_last_updated('newcomer').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('newcomer').updated_at) %></p></a></div>
                </li>
                <li>
                    <div id="forum-opacity"></div>
                    <a href="<%= forum_path + '/album-discussion' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/album-discussion' %>">Album discussion</a></h3>
                        <p>Discuss your favorite (and least favorite) albums to your heart's content!</p>
                    </div>
                    <div class="activity"><a href="forum/album-discussion/t/<%= board_last_updated('album-discussion').id %>"><p>Last updated by <%= board_last_updated('album-discussion').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('album-discussion').title %>" <br> at <%= board_last_updated('album-discussion').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('album-discussion').updated_at) %></p></a></div>
                </li>
                <li>
                    <a href="<%= forum_path + '/gear' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/gear' %>">Gear and hardware</a></h3>
                        <p>Got a new turntable to show off? Not sure what guitar to buy next? This is your board.</p>
                    </div>
                    <div class="activity"><a href="forum/gear/t/<%= board_last_updated('gear').id %>"><p>Last updated by <%= board_last_updated('gear').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('gear').title %>" <br> at <%= board_last_updated('gear').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('gear').updated_at) %></p></a></div>
                </li>
                <li>
                    <div id="forum-opacity"></div>
                    <a href="<%= forum_path + '/etc' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/etc' %>">Shitposts</a></h3>
                        <p>Post your garbage here.</p>
                    </div>
                    <div class="activity"><a href="forum/etc/t/<%= board_last_updated('etc').id %>"><p>Last updated by <%= board_last_updated('etc').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('etc').title %>" <br> at <%= board_last_updated('etc').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('etc').updated_at) %></p></a></div>
                </li>
            </ul>
            <div class="divider"></div>
            <ul>
                <li>
                    <div id="forum-opacity"></div>
                    <a href="<%= forum_path + '/feedback' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/feedback' %>">Feedback and bug reports</a></h3>
                        <p>Want a feature? Is something broken? Post about it here.</p>
                    </div>
                    <div class="activity"><a href="forum/feedback/t/<%= board_last_updated('feedback').id %>"><p>Last updated by <%= board_last_updated('feedback').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('feedback').title %>" <br> at <%= board_last_updated('feedback').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('feedback').updated_at) %></p></a></div>
                </li>
                <li>
                    <a href="<%= forum_path + '/archive' %>"><%= evil_icon 'ei-arrow-right', size: 'm' %></a>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/archive' %>">Archived threads</a></h3>
                        <p>Archived threads.</p>
                    </div>
                    <div class="activity"><a href="forum/archive/t/<%= board_last_updated('archive').id %>"><p>Last updated by <%= board_last_updated('archive').posts.order('created_at desc').first.user.username %> in thread "<%= board_last_updated('archive').title %>" <br> at <%= board_last_updated('archive').updated_at.strftime("%R %Z, ") %><%= user_date_format(board_last_updated('archive').updated_at) %></p></a></div>
                </li>
            </ul>
        </div>
    </div>
</div>