<form enctype="multipart/form-data" action="login" accept-charset="UTF-8" data-remote="true" method="post">
    <input placeholder="Username" type="text" name="session[username]">
    <input placeholder="Password" type="password" name="session[password]">
    <input value="Login" type="submit" name="commit">
</form>
<a id="register-btn">Create an account</a>