<form enctype="multipart/form-data" action="<%= root_url %>login" accept-charset="UTF-8" data-remote="true" method="post">
    <input placeholder="Username" type="text" name="session[username]">
    <input placeholder="Password" type="password" name="session[password]">
    <input value="Login" type="submit" name="commit">
</form>
<div id="login-links">
    <a class="register-btn">Create an account</a>
    <a class="password-reset-btn">Forgot password?</a>
</div>