<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <div id="profile-wrapper">
        <div id="main-opacity"></div>
        <div id="pw-reset-container">
            <h2>Reset Password</h2>
            <%= form_for :user, url: "/users/#{@current_user.reset_password_token}/reset-password" do |f| %>
                <p><%= f.label :password, "New Password", placeholder: 'Password' %></p>
                <%= f.password_field :password %>
                <p><%= f.label :password_retype, "Retype New Password", placeholder: 'Password' %></p>
                <%= f.password_field :password_retype %>
                <%= f.submit "Change Password" %>
            <% end %>
        </div>
    </div>
</div>
