<% title @user.username + '\'s profile' %>
<div id="profile-form-container" class="modal modal-inactive">
	<div>
		<h2>Edit your information</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
	<% if @same_user %>
	<form id="profile-form" class="modal-form" action="/users/update" accept-charset="UTF-8" data-remote="true" method="post">
		<div class="modal-form-input-container">
			<label for="profile-gender"><p>Gender</p></label>
			<select id="profile-gender" class='gender-input' name="user[gender]" form="profile-form" required>
				<option value="Male" <%= 'selected' if @user.gender == 'Male' %>><p>Male</p></option>
				<option value="Female" <%= 'selected' if @user.gender == 'Female' %>><p>Female</p></option>
				<option value="Other" <%= 'selected' if @user.gender == 'Other' %>><p>Other</p></option>
				<option value="Unknown" <%= 'selected' if @user.gender == 'Unknown' %>><p>I'd rather not specify</p></option>
			</select>
			<label for="profile-birth-year"><p>Year of birth</p></label>
			<select id="profile-birth-year" class="age-input" name="user[birth_year]" form="profile-form" required>
				<option value="Unknown" <%= 'selected' if @user.birth_year == 0 %>><p>I'd rather not specify</p></option>
				<% (1905..2019).each do | i | %> 
				<option value="<%= i %>" <%= 'selected' if @user.birth_year == i %>><p><%= i %></p></option>
				<% end %>
			</select>
			<label for="profile-location"><p>Location:</p></label>
			<input type="text" id="profile-location" placeholder="Location" name="user[location]" value="<%= @user.location %>">
			<label for="profile-bio"><p>Bio:</p></label>
			<textarea id="profile-bio" placeholder="What's your story?" name="user[bio]"><%= @user.bio %></textarea>
		</div>
		<input id="update-submit-btn" type="submit" name="commit" value="Save changes">
		<div class="submit-message shrunk">
			<p>Profile updated!</p>
		</div>
	</form>
	<% end %>
</div>
<div id="profile-settings-container" class="modal modal-inactive">
    <div>
        <h2>Edit your preferences</h2>
    </div>
    <%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
    <% if @same_user %>
        <form id="settings-form" class="modal-form" action="/preferences/update" accept-charset="UTF-8" data-remote="true" method="post">
            <div class="modal-form-input-container">
                <label for="user-theme"><p>Theme</p></label>
                <select id="user-theme" class='gender-input' name="preference[theme]" form="settings-form" required>
                    <option value="Kayo" <%= 'selected' if @preferences.theme == 'Kayo' %>><p>Kayo</p></option>
                    <option value="Beach" <%= 'selected' if @preferences.theme == 'Beach' %>><p>Beach</p></option>
                    <option value="City" <%= 'selected' if @preferences.theme == 'City' %>><p>City</p></option>
                </select>
                <label for="user-date-format"><p>Date formatting</p></label>
                <select id="user-date-format" name="preference[date_format]" form="settings-form" required>
                    <option value="YYYY-MM-DD" <%= 'selected' if @preferences.date_format == 'YYYY-MM-DD' %>><p>YYYY-MM-DD</p></option>
                    <option value="YYYY-DD-MM" <%= 'selected' if @preferences.date_format == 'YYYY-DD-MM' %>><p>YYYY-DD-MM</p></option>
                </select>
                <p>Autosubscribe to created threads</p>
                <label class="checkbox-slider <%= 'slider-active' if @preferences.autosubscribe %>" for="autosubscribe" ></label>
                <input type="checkbox" id="autosubscribe" name="preference[autosubscribe]" value="true" hidden <%= 'checked' if @preferences.autosubscribe %>>
            </div>
            <input id="settings-submit-btn" type="submit" name="commit" value="Save changes">
            <div class="submit-message shrunk">
                <p>Preferences updated!</p>
            </div>
        </form>
    <% end %>
</div>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <div id="profile-wrapper">
        <div id="main-opacity"></div>
        <div id="profile-header">
            <div>
                <% if @same_user %>
                    <form id="avatar-form" enctype="multipart/form-data" action="<%= root_url + 'users/update' %>" method="post" data-remote="false">
                        <label for="avatar">
                            <%= image_tag user_avatar(@user), class: 'editable' %>
                        </label>
                        <input id="avatar" name="user[avatar]" type="file">
                        <input type="text" name="user[id]" value="<%= @user.id %>" hidden>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div>
                        	<p><b>Change avatar</b></p>
                        	<p>Max filesize 1MB</p>
                        </div>
                    </form>
                <% else %>
                <div>
                    <%= image_tag user_avatar(@user) %>
                </div>
                <% end %>
                <h2><%= @user.username %></h2>
            </div>
            <div class="profile-info-container">
                <div>
                    <p><b>Birth year: </b></p>
                    <p><%= @birth_year %></p>
                </div>
                <div>
                    <p><b>Gender: </b></p>
                    <p><%= @user.gender %></p>
                </div>
                <div>
                    <p><b>Location: </b></p>
                    <p>
                        <% if @user.location.present? %>
                        <%= @user.location %>
                        <% else %>
                        Unknown location
                        <% end %>
                    </p>
                </div>
            </div>
            <div class="profile-info-container bio">
                <div>
                    <p><b>Bio: </b></p>
                    <% if @user.bio.present? %>
                    <%= parse_markdown(@user.bio) %>
                    <% else %>
                    <p>No bio provided</p>
                    <% end %>
                </div>
            </div>
            <% if @same_user %>
            <%= evil_icon 'ei-pencil', size: 'm', class: 'profile-edit-btn', title: 'Edit profile info' %>
            <%= evil_icon 'ei-gear', size: 'm', class: 'profile-settings-btn', title: 'Preferences' %>
            <% end %>
            <div id="email-div">
				<% if @same_user && !@user.email_confirmed %>
				<a id="resend-email-btn" href="<%= root_url + 'users/resend-email' %>">Resend confirmation email</a>
				<% end %>
				<p>Member since: <%= @user.created_at.strftime('%-d %B %Y') %></p>
            </div>
        </div>
        <div id="profile-body">
			<div id="activity-container">
				<h2>Recent activity:</h2>
				<div id="feed">
				<% @activity.each do | a | %>
					<% if a.class.name == 'Post' %> 
					<a href="<%= "#{forum_path}/#{a.forum_thread.category}/t/#{a.forum_thread.id}" %>" class="post-card">
						<div class="card-opacity"></div>
						<h4><%= a.user.username %> posted in thread <i><%= a.forum_thread.title %></i> :</h4>
						<p class="post-score">Score: <%= post_upvotes(a) %></p>
						<div class="post-container">
							<div class="user-info">
								<div class="avatar-wrapper">
									<%= image_tag user_avatar(a.user) %>
								</div>
							</div>
							<div class="text-container">
								<div class="post-text">
									<p><%= parse_markdown(a.body.split(/\n/)[0], true) %></p>
								</div>
							</div>
						</div>
					</a>
					<% end %>
					<% if a.class.name == 'Article' %>
                    <a class="article post-card" href="<%= articles_path + '/' + a.id.to_s %>">
                    	<div class="card-opacity"></div>
                    	<h4><%= @user.username %> published an article:</h4>
                        <div class="article-header">
                            <div class="header-positioner"><img src="<%= a.banner.variant(resize: "600x600").processed.service_url %>"></div>
                            <div class="header-positioner"><h2><%= a.title %></h2></div>
                            <div>
                                <div>
                                    <div class="avatar-wrapper">
                                        <%= image_tag user_avatar(a.user) %>
                                    </div>
                                    <p>By <%= a.user.username %></p>
                                </div>
                                <p>&nbsp;- <%= a.created_at.strftime('%-d %b %Y') %></p>
                                <p class="article-score">Score: <%= article_upvotes(a) %></p>
                            </div>
                        </div>
                        <div class="article-body">
                            <h4><%= a.subtitle %></h4>
                            <p class="paragraph"><%= parse_markdown(a.body) %></p>
                        </div>
                    </a>
					<% end %>
				<% end %>
				</div>
			</div>
			<div id="user-sidebar">
				<% if @same_user %>
				<div id="notification-panel">
					<h3>Recent notifications:</h3>
					<% if !@notifications.present? %>
					<i>No notifications to display!</i>
					<% else %>
						<% @notifications.each do | n | %>
							<% if n.notification_type == 'ForumThread' %>
							<% @post = Post.find_by(id: n.target_id) %>
							<% @thread = @post.forum_thread %>
							<a class="notification-card" href="<%= forum_path + "/#{@thread.category}/t/#{@thread.id}" %>">
								<div class="notification-opacity"></div>
								<div class="notification-header">
									<h4><%= @post.user.username %> posted in <%= @thread.title %>:</h4>
									<p>Posted <%= @post.created_at.strftime('%b %d') %></p>
								</div>
								<div class="notification-divider"></div>
								<div class="notification-body">
		                            <div class="avatar-wrapper">
		                                <%= image_tag user_avatar(@post.user) %>
		                            </div>
		                            <div class="text-container">
										<p><%= parse_markdown(@post.body.split(/\n/)[0], true) %></p>
									</div>
								</div>
							</a>
							<% elsif n.notification_type == 'Article' %>
							<% p n %>
							<% @comment = Comment.find_by(id: n.target_id) %>
							<% @article = @comment.article %>
							<a class="notification-card" href="<%= articles_path + "/#{@article.id}" %>">
								<div class="notification-opacity"></div>
								<div class="notification-header">
									<h4><%= @comment.user.username %> commented on <%= @article.title %>:</h4>
									<p>Posted <%= @comment.created_at.strftime('%b %d') %></p>
								</div>
								<div class="notification-divider"></div>
								<div class="notification-body">
		                            <div class="avatar-wrapper">
		                                <%= image_tag user_avatar(@comment.user) %>
		                            </div>
		                            <div class="text-container">
										<p><%= parse_markdown(@comment.body.split(/\n/)[0], true) %></p>
									</div>
								</div>
							</a>
							<% end %>
						<% end %>
					<% end %>
					<!--<a id="see-all" href="">See all</a>-->
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>