<div id="wrapper">
	<img alt="" class="bigimage" src="">
	<div id="opaque"></div>
	<div id="bg-opacity"></div>
	<div id="albums-bg-container"><%= image_tag "variety.jpg" %></div>
	<div id="search-title">
		<div id="logo-title">
  		<a href="/albums/index"><h1>sunshower.xyz</h1></a>
  		<h2>City Pop Album Archive</h2>
  	</div>
  	<div id="input">
  		<img alt="" id="regex" class="gray" src="https://upload.wikimedia.org/wikipedia/commons/6/63/OOjs_UI_icon_regular-expression-progressive.svg">
  		<input type="text" id="main-search" name="search" placeholder=" Search for an artist, album, flavor..."><span class="ion-android-search"></span>
  	</div>
	</div>
  <div id="main-container">
    <nav id="sidebar">
      <ul class="nav-list">
        <li class="nav-btn"><div class="title-wrapper"><%= link_to "Home", albums_index_path %></div></li>
        <li class="nav-btn"><div class="title-wrapper"><%= link_to "About", about_index_path %></div></li>
        <li class="nav-btn" id="filters">
        	<div class="title-wrapper">
        		<a class="btn-title" id="filter">Sort by:</a>
        	</div>
        		<ul id="sort-list">
        			<li class="sort-btn"><a>Title</a><span class="ion-chevron-down"></span></li>
        			<li class="sort-btn"><a>Artist</a><span class="ion-chevron-down"></span></li>
        			<li class="sort-btn"><a>Year</a><span class="ion-chevron-down"></span></li>
        			<li class="sort-btn"><a>Flavor</a><span class="ion-chevron-down"></span></li>
        		</ul>
        </li>
        <li class="nav-btn" id="random"><div class="title-wrapper"><a class="btn-title">Random</a></div></li>
      </ul>
    </nav>
    <div id="albums-bg-opacity"></div>
 		<ul id="splash-container">
  	</ul>
	</div>
	<div id="footer">
		<ul id="link-list">
			<li><a href="https://github.com/ivakam/city-album-chart">GitHub</a></li>
			<li><a href="mailto:ivar.kamsvag@gmail.com">Email</a></li>
			<li><a href="https://discord.gg/AhSJCB">City pop Discord server</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1s4-pxu3Ul5D6ynGAw7fQo63910dRBcGClVRX92zTMig/edit?usp=sharing">Submission spreadsheet</a></li>
			<li><a href="https://i.imgur.com/nTfQAky.png">Album chart</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1UumcUXF3QvJgoQ3j8SsAnPtdbarhFD_wTmguK0RuZbs/edit?usp=sharing">My personal spreadsheet</a></li>
		</ul>
		<div id="disclaimers">
			<p>Site currently hosting </p><p id="album-total-count"></p><p id="total-count-left">albums on Rails 5.2 framework with SQLite database</p>
			<p>Thanks to the people behind <a href="https://ionicons.com/">ionicons</a> for providing amazing assets for free.</p>
		</div>
	</div>
</div>