<% title "Archive" %>
<script>
	user = <%= fetch_user.to_json.html_safe %>
</script>
<img alt="" class="bigimage" src="">
<div id="report-form-container" class="modal modal-inactive">
	<div>
		<h2>Submit a report</h2>
	</div>
	<ion-icon name="ios-close" id="report-close" class="modal-close"></ion-icon>
	<form id="report-form" class="modal-form" action="/reports/create" accept-charset="UTF-8" data-remote="true" method="post">
		<input id="report-album" type="text" name="report[album]" hidden>
		<input type="text" name="report[report_type]" value="Album" hidden>
		<input type="text" name="report[thread]" value="" hidden>
		<div class="modal-form-input-container">
			<label for="report-input-container"><p>Report reason:</p></label>
			<select class='report-reason' name="report[reason]" form="report-form" required>
				<option value='Spam'><p>Spam</p></option>
				<option value='Incorrect'><p>Incorrect metadata</p></option>
				<option value='Offensive'><p>Offensive content</p></option>
				<option value='Other'><p>Other</p></option>
			</select>
			<label for="report-comment"><p>Comment:</p></label>
			<textarea id="report-comment" placeholder="Any additional notes go here" name="report[comment]"></textarea>
		</div>
		<input type="submit" name="commit" value="Send Report">
		<div class="submit-message shrunk">
			<p>Your report has been submitted!</p>
		</div>
	</form>
</div>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="album-container">
		<div id="main-opacity"></div>
		<div id="search">
			<input type="text" id="main-search" name="search" placeholder=" Search for an artist, album, flavor...">
			<ion-icon name="search"></ion-icon>
		</div>
		<div class="nav-btn" id="filters">
			<div class="title-wrapper">
				<a class="btn-title" id="filter">Sort by:</a>
			</div>
			<ul id="sort-list">
				<li class="sort-btn tooltip"><a>Title</a><span class="tooltiptext"><a>Sort by title, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
				<li class="sort-btn tooltip"><a>Artist</a><span class="tooltiptext"><a>Sort by artist, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
				<li class="sort-btn tooltip"><a>Year</a><span class="tooltiptext"><a>Sort by year, ascending/descending.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
				<li class="sort-btn tooltip"><a>Flavor</a><span class="tooltiptext"><a>Sort by flavor, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
				<li class="sort-btn tooltip"><a>Quality</a><span class="tooltiptext"><a>Sort by quality, ascending/descending (checks a number of criteria including presence of tracklist, cover, description, etc. to determine how well fleshed out the entry is - Descending is the default sort).</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
			</ul>
		<!-- Maybe this will be a reality at some point. Who knows? -->
		<!--<div class="nav-btn" id="random"><div class="title-wrapper"><a class="btn-title">Random</a></div></div>-->
		</div>
		<%= image_tag "spinner.gif", class: "spinner hidden" %>
		<ul id="splash-container">
		</ul>
	</div>
</div>