<% title "Archive" %>
<script>
    user = <%= @current_user.to_json.html_safe %>;
    window.archive = {};
    window.archive.albums = [];
    <% @albums.each_with_index do | a, i | %>
    window.archive.albums[<%= i %>] = <%= a.to_json(:include => :tracks).html_safe %>;
    window.archive.albums[<%= i %>].contributor = '<%= User.find_by(id: a.user_id).username %>';
    <% end %>
</script>
<img alt="" class="bigimage" src="">
<% if @current_user && @current_user.email_confirmed %>
<div id="report-form-container" class="modal modal-inactive">
    <div>
        <h2>Submit a report</h2>
    </div>
    <%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
    <form id="report-form" class="modal-form" action="/reports/create" accept-charset="UTF-8" data-remote="true" method="post">
        <input id="report-target" type="text" name="report[target_id]" hidden>
        <input type="text" name="report[report_type]" value="Album" hidden>
        <div class="modal-form-input-container">
            <label for="report-input-container"><p>Report reason:</p></label>
            <select class='report-reason' name="report[reason]" form="report-form" required>
                <option value='Spam'><p>Spam</p></option>
                <option value='Incorrect'><p>Incorrect metadata</p></option>
                <option value='Offensive'><p>Offensive content</p></option>
                <option value='Other'><p>Other</p></option>
            </select>
            <label for="report-comment"><p>Comment:</p></label>
            <textarea id="report-comment" placeholder="Any additional notes go here" name="report[comment]"></textarea>
        </div>
        <input type="submit" name="commit" value="Send Report">
        <div class="submit-message shrunk">
            <p>Your report has been submitted!</p>
        </div>
    </form>
</div>
<% end %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <div id="album-container">
        <div id="main-opacity"></div>
        <div id="search">
            <input type="text" id="main-search" name="search" placeholder=" Search for an artist, album, flavor...">
            <%= evil_icon 'ei-search', size: 'm' %>
        </div>
        <div class="nav-btn" id="filters">
            <div class="title-wrapper">
                <a class="btn-title" id="filter">Sort by:</a>
            </div>
            <ul id="sort-list">
                <li class="sort-btn tooltip"><a>Title</a><span class="tooltiptext"><a>Sort by title, A-Z/Z-A.</a></span><%= evil_icon 'ei-chevron-down', size: 'm' %></li>
                <li class="sort-btn tooltip"><a>Artist</a><span class="tooltiptext"><a>Sort by artist, A-Z/Z-A.</a></span><%= evil_icon 'ei-chevron-down', size: 'm' %></li>
                <li class="sort-btn tooltip"><a>Year</a><span class="tooltiptext"><a>Sort by year, ascending/descending.</a></span><%= evil_icon 'ei-chevron-down', size: 'm' %></li>
                <li class="sort-btn tooltip"><a>Flavor</a><span class="tooltiptext"><a>Sort by flavor, A-Z/Z-A.</a></span><%= evil_icon 'ei-chevron-down', size: 'm' %></li>
                <li class="sort-btn tooltip"><a>Quality</a><span class="tooltiptext"><a>Sort by quality, ascending/descending (checks a number of criteria including presence of tracklist, cover, description, etc. to determine how well fleshed out the entry is.).</a></span><%= evil_icon 'ei-chevron-down', size: 'm' %></li>
                <li class="sort-btn tooltip"><a>Last submitted</a><span class="tooltiptext"><a>Sort by submission date, ascending/descending</a></span><%= evil_icon 'ei-chevron-down', size: 'm' %></li>
            </ul>
        </div>
        <%= image_tag "spinner.gif", class: "spinner hidden" %>
        <ul id="splash-container">
            <% @albums.each do | album | %>
            <li>
                <div class='album-container' id='<%= album.title.gsub(/[\s\'\"\.\(\)\!\#\%\&\\\*]/, '') %>'>
                    <div class='album-text-container'>
                        <div class='text-size-wrapper'>
                            <h2><%= album.title %></h2>
                        </div>
                        <img src='<%= album.thumbnail %>'>
                        <div class='artist-year-container'>
                            <p class='artist'><%= album.romaji_artist %></p>
                            <p class='year'><%= album.year %></p>
                        </div>
                    </div>
                    <div class='arrow-container'><%= evil_icon 'ei-chevron-down', size: 'm', class: "album-arrow" %></div>
                </div>
                <div class='info-container offset' id='<%= album.title.gsub(/[\s\'\"\.\(\)\!\#\%\&\\\*]/, '') %>-info'>
                    <div class='info-wrapper hidden'>
                    <% if @current_user && @current_user.email_confirmed %>
                        <%= evil_icon 'ei-exclamation', size: 'm', class: 'ei flag-icon' %>
                        <%= evil_icon 'ei-pencil', size: 'm', class: 'ei edit-icon' %>
                        <%= evil_icon 'ei-close', size: 'm', class: 'ei close-icon hidden' %>
                    <% end %>
                        <div class='info-background hidden'><img src='<%= album.thumbnail %>'></div>
                        <div class='info-text-container'>
                            <div class='text-container'>
                                <div class='title-container'>
                                    <h2><%= album.title %></h2>
                                    <h3><i><%= album.romanization %></i></h3>
                                </div>
                                <div class='artist-container'>
                                    <p class='label'>Artist:</p>
                                    <p><%= album.romaji_artist %></p>
                                    <p class='label'><%= album.japanese_artist %></p>
                                </div>
                                <div class='release-date'>
                                    <p class='label'>Release date:</p>
                                    <p><%= album.year %></p>
                                </div>
                                <div class='flavor'>
                                    <p class='label'>Flavor:</p>
                                    <p class='flavor-value'><%= album.flavor %></p>
                                </div>
                                <div class='description-container'>
                                    <p class='label'>Description:</p>
                                    <p class='description'><%= album.description %></p>
                                </div>
                            </div>
                            <div class='track-grow-wrapper'>
                                <div class='link-image-container'>
                                    <img class='expandable-img' src=''>
                                    <img class='vinyl-icon hidden' src='https://upload.wikimedia.org/wikipedia/commons/7/75/Vinyl_record.svg'>
                                    <div class='stream-slider-container'>
                                        <%= evil_icon 'ei-close', size: 'm', class: 'stream-close' %>
                                        <%= evil_icon 'ei-chevron-left', size: 'm', class: 'stream-arrow stream-arrow-left' %>
                                        <%= evil_icon 'ei-chevron-right', size: 'm', class: 'stream-arrow stream-arrow-right' %>
                                        <div class='video-slider'>
                                            </iframe>
                                            <iframe src='' allowfullscreen='true' allowscriptaccess='always' frameborder='0'>
                                            </iframe>
                                            <iframe src='' allowfullscreen='true' allowscriptaccess='always' frameborder='0'>
                                            </iframe>
                                            <iframe src='' allowfullscreen='true' allowscriptaccess='always' frameborder='0'>
                                            </iframe>
                                            <iframe src='' allowfullscreen='true' allowscriptaccess='always' frameborder='0'>
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class='info-divider'></div>
                                <div class='tracklist-wrapper'>
                                    <h3>Tracklist:</h3>
                                    <ul class='tracklist-container'>
                                        <% album.tracks.each do | track | %>
                                        <li class='track-container'>
                                            <div class='track-title-container'>
                                                <p><%= track.order %></p>
                                                <div class='track-title-wrap'>
                                                    <p><%= track.title %></p>
                                                    <i><%= track.romanization %></i>
                                                </div>
                                            </div>
                                            <p class='duration'><%= track.duration %></p>
                                        </li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class='contributor'>
                                    <p>Uploaded on <%= album.created_at.strftime('%-b %-d %Y') %></p>
                                    <p>Contributor: <a href='<%= root_url + "users/#{User.find_by(id: album.user_id).username}" %>'><%= User.find_by(id: album.user_id).username %></a></p>
                                </div>
                            </div> 
                        </div>
                        <% if @current_user && @current_user.email_confirmed %>
                        <div class='edit-form-container'>
                            <form action='/albums/update' accept-charset='UTF-8' data-remote='true' method='post' enctype='multipart/form-data'>
                                <div class='field-container'>
                                    <div class='cover-edit-container'>
                                        <p>Album cover</p>
                                        <div>
                                            <label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-cover'>
                                                <img src='' class='cover-editable'>
                                            </label>
                                            <input class='album-edit-cover' id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-cover' name='album[cover]' type='file'>
                                            <div>
                                                <p><b>Update cover</b></p>
                                                <p>Max filesize 1MB</p>
                                            </div>
                                        </div>
                                        <p class='selected-cover'>No cover selected</p>
                                    </div>
                                    <div class='divider'></div>
                                    <div class='input-field-container'>
                                        <div class='form-field'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-title'>Title*</label></p>
                                            <input id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-title' placeholder='ロートスの果実' value='<%= album.title.gsub("'", '&#39;') %>' type='text' name='album[title]'>
                                            <input value='<%= album.title.gsub("'", '&#39;') %>' type='text' name='album[title_old]' hidden>
                                        </div>
                                        <div class='form-field'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-romanization'>Romanization</label></p>
                                            <input id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-romanization' placeholder='Lotus no Kajitsu' value='<%= album.romanization.gsub("'", '&#39;') %>' type='text' name='album[romanization]'>
                                            <input value='<%= album.romanization.gsub("'", '&#39;') %>' type='text' name='album[romanization_old]' hidden>
                                        </div>
                                        <div class='form-field'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-japanese-artist'>Japanese artist</label></p>
                                            <input id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-japanese-artist' placeholder='中原めいこ' value='<%= album.japanese_artist.gsub("'", '&#39;') %>' type='text' name='album[japanese_artist]'>
                                            <input value='<%= album.japanese_artist.gsub("'", '&#39;') %>' type='text' name='album[japanese_artist_old]' hidden>
                                        </div>
                                        <div class='form-field'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-romaji-artist'>Romaji artist*</label></p>
                                            <input id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-romaji-artist' placeholder='Meiko Nakahara' value='<%= album.romaji_artist.gsub("'", '&#39;') %>' type='text' name='album[romaji_artist]'>
                                            <input value='<%= album.romaji_artist.gsub("'", '&#39;') %>' type='text' name='album[romaji_artist_old]' hidden>
                                        </div>
                                        <div class='form-field'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-year'>Year</label></p>
                                            <input id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-year' placeholder='1984' value='<%= album.year.gsub("'", '&#39;') %>' type='text' name='album[year]'>
                                            <input value='<%= album.year.gsub("'", '&#39;') %>' type='text' name='album[year_old]' hidden>
                                        </div>
                                        <div class='form-field'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-flavor'>Flavor</label></p>
                                            <input id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-flavor' placeholder='Funk, Idol' value='<%= album.flavor.gsub("'", '&#39;') %>' type='text' name='album[flavor]'>
                                            <input value='<%= album.flavor.gsub("'", '&#39;') %>' type='text' name='album[flavor_old]' hidden>
                                        </div>
                                    </div>
                                    <div class='divider'></div>
                                    <div class='form-field description-field'>
                                        <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-description'>Description</label></p>
                                        <textarea id='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-description' placeholder='Meiko Nakahara&#39;s 4th studio album brings the hard synths and slappy basslines.' name='album[description]'><%= album.description.gsub("'", '&#39;') %></textarea>
                                        <input value='<%= album.description.gsub("'", '&#39;') %>' type='text' name='album[description_old]' hidden>
                                    </div>
                                    <div class='divider'></div>
                                    <div class='tracklist-submit'>
                                        <div class='tracklist-label-text'>
                                            <p><label for='<%= album.title.gsub("'", '&#39;').gsub(/\s+/, '') %>-tracklist'>Tracklist</label></p>
                                            <div class='tooltip'><span class='tooltiptext'>
                                                <a>Template in the form of \"&ltTrack title&gt\", \"&ltRomanization&gt\", &ltTrack Duration&gt.</a>
                                            </span></div>
                                        </div>
                                        <div class='tracklist-edit-container'>
                                            <% album.tracks.each do | track | %>
                                            <div class='track-input-container'>
                                                <span class='draggable-area'></span>
                                                <input class='title' placeholder='Title' value='<%= track.title.gsub("'", '&#39;') %>' type='text'>
                                                <input class='romanization' placeholder='Romanization' value='<%= track.romanization.gsub("'", '&#39;') %>' type='text' >
                                                <input class='duration' placeholder='4:54' value='<%= track.duration %>' type='text'>
                                                <input class='title_old' value='<%= track.title.gsub("'", '&#39;') %>' type='text' hidden>
                                                <input class='romanization_old' value='<%= track.romanization.gsub("'", '&#39;') %>' type='text' hidden>
                                                <input class='duration_old' value='<%= track.duration %>' type='text' hidden>
                                                <%= evil_icon 'ei-close', size: 'm', class: 'track-delete-btn' %>
                                            </div>
                                            <% end %>
                                            <%= evil_icon 'ei-plus', size: 'm', class: 'track-add-btn' %>
                                        </div>
                                    </div>
                                    <input class='edit-submit-btn' type='submit' name='commit' value='Save changes' data-disable-with='Save changes'>
                                    <input class='tracklist' name='tracklist' value='' hidden>
                                    <input class='delete-list' name='delete_list' value='' hidden>
                                </div>
                            </form>
                        </div>
                        <% end %>
                    </div>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</div>
