<% title "Submit" %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <div id="submit-wrapper">
        <div id="main-opacity"></div>
        <h2>Submit an Album</h2>
        <div id="submit-container">
            <div id="submit-instructions">
    	        <h2>Rules and Guidelines for Submissions:</h2>
    	        <p>To make sure that all submissions are consistent with each other while containing as much information as possible, 
    	        there are a couple of things you are required to take into account when submitting:
                <br>
                <br>
                <b>1. Make sure an album cover is included in the submission.</b>
                <br>
                There is an ok placeholder image if you really can't find a scan, 
                but please do try to include one.
                Don't use this as an excuse though, 
                it only hurts the community in the long run.
                <br>
                <br>
                <b>2. Fill out the "flavor" field for each album.</b>
                <br>
                This could be something like "Funk" or "Ballad" or "Tribute". 
                It's basically just a way to give some form of musical description to what the album sounds like.
                <br>
                <br>
                <b>3. Please don't include special editions</b>
                <br>
                This includes live versions (not live albums, 
                live versions of songs as extras on studio albums.), demo versions, bonus tracks, etc. This is to reduce clutter. If you're interested enough in an album to warrant looking for extras, do it somewhere else. 
                Further support for extras may come further down the line. Who knows.
                <br>
                <br>
                <b>4. Please don't submit titles in all-caps</b>
                <br>
                "AN INSATIABLE HIGH" -> "An Insatiable High".
                <br>
                <br>
                <b>5. Titles using katakana to describe English (or other foreign) words should be romanized to their actual counterpart</b>
                <br>
                "ロマンス" becomes "Romance" rather than "Romansu".
                <br>
                <br>
                Finally, all submissions are prone to further scrutiny by me and others with edit privileges. I want this archive to stay high-quality. No amount of code will overcome that, unfortunately. Thank you for your contribution.</p>
    	    </div>
            <%= form_with scope: :album, html: { multipart: true }, url: "#{root_url}albums/create", data_remote: true do |form| %>
                <input type="hidden" name="form_type" value="submit">
                <input id="hidden-tracklist" type="text" name="tracklist" hidden>
                <div id="form-container">
                    <div>
                        <div id="input-container">
                            <i class="hint">Have multiple albums to submit? <a class="hint-click">Click here.</a></i>
                            <div>
                                <div class="form-divider" id="left-divider">
                                    <div class="form-field">
                                        <p><%= form.label :title %>*</p>
                                        <%= form.text_field :title, id: "title-field", placeholder: "ライドオンタイム" %>
                                        <div class="error-msg-container">
                                            <p class="error-msg">Field must be filled out!</p>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <p><%= form.label :romanization %></p>
                                        <%= form.text_field :romanization, placeholder: "Ride on Time" %>
                                    </div>
                                    <div class="form-field">
                                        <p><%= form.label :japanese_artist %></p>
                                        <%= form.text_field :japanese_artist, placeholder: "山下達郎" %>
                                    </div>
                                    <div class="form-field">
                                        <p><%= form.label :romaji_artist %>*</p>
                                        <%= form.text_field :romaji_artist, id: "romaji-artist-field", placeholder: "Tatsuro Yamashita" %>
                                        <div class="error-msg-container">
                                            <p class="error-msg">Field must be filled out!</p>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <p><%= form.label :year %></p>
                                        <%= form.text_field :year, placeholder: "1980" %>
                                    </div>
                                    <div class="form-field">
                                        <p><%= form.label :flavor %></p>
                                        <%= form.text_field :flavor, placeholder: "Funk, Rock, Soul" %>
                                    </div>
                                    <i>*Required Fields.</i>
                                </div>
                                <div class="form-divider" id="right-divider">
                                    <div class="form-field">
                                        <p><%= form.label :description %> (Not a review)</p>
                                        <%= form.text_area :description, placeholder: "Ride on Time is the fifth studio album by Japanese singer-songwriter Tatsuro Yamashita, released in September 1980.\n\nRide on Time has been most well known by its title track. It was used on the television commercial for Maxell's audio cassette starring Yamashita, and released as a single in May 1980." %>
                                    </div>
                                    <div class="tracklist-submit">
                                        <div class="tracklist-label-text">
                                            <p><%= form.label :"Tracklist" %> (Don't write track numbers! Just keep them in order.)</p>
                                        </div>
                                        <div class="tracklist-edit-container">
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <div class="track-input-container">
                                                <span class="draggable-area"></span>
                                    			<input class='title' placeholder='Title' type='text'>
                                    			<input class='romanization' placeholder='Romanization' type='text'>
                                    			<input class='duration' placeholder='4:54' type='text'>
                                                <%= evil_icon 'ei-close', size: 's', class: 'track-delete-btn' %>
                                            </div>
                                            <%= evil_icon 'ei-plus', size: 'm', class: 'track-add-btn' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field submit-btn">
                                <p>Album Cover (jpg or jpeg. Max 1Mb. Preferably under 500Kb.)</p>
                                <label for="album-cover"><%= evil_icon 'ei-image', size: 'm', class: 'cover-browse' %></label>
                                <%= form.file_field :cover, id: 'album-cover' %>
                                <p id="selected-cover">No file selected</p>
                            </div>
                            <div class="save-container" class="submit-btn">
                                <%= form.submit "Submit", class: "save-btn" %>
                                <h2>Sending submission...</h2>
                            </div>
                        </div>
                        <div class="form-field" id="scraper-input">
                            <div>
                                <i class="hint"><a class="hint-click">Take me back!</a></i>
                                <p>Select the folder you would like to submit. The scraper will gather any music files it can find.</p>
                                <p>Browse:</p>
                                <label for="albums-input"><%= evil_icon 'ei-image', size: 'm', class: 'cover-browse' %></label>
                                <input id="albums-input" multiple="multiple" type="file" name="album[scraper][]" webkitdirectory mozdirectory msdirectory odirectory directory>
                                <div>
                                    <h2 id="scraper-status">Waiting for files...</h2>
                                </div>
                            </div>
                            <ul id="scraper-form">
                            </ul>
                            <a id="scraper-submit-btn" class="transparent">Submit</a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
	</div>
</div>