<% title "About" %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="about-container">
		<div id="main-opacity"></div>
		<h2>About</h2>
		<div id="about-text-container">
			<p id="purpose">This site is meant as a community hub dedicated to Japanese late showa-era (early 70s to late 80s) albums. It was developed by me (PorousBoat) and is open source (repo can be found at the bottom of the page).</p>
			<h3>FAQ:</h3>
			<p><b>Can I stream/download music from here?</b></p>
			<p>Short answer: Maybe <br> Long answer: This is a legal issue. Hosting the music would be infringing on copyright, and linking to various torrent (or other) sites I won't mention is not allowed for obvious reasons. There is, however, a system in place for finding YouTube links to albums.</p>
			<p><b>Why can't I sort by popularity? Why are there no ratings?</b></p>
			<p>I, as the creator and curator of the page, believe that the best music is the music you discover yourself. By providing a visually appealing interface combined with powerful search tools, this site gives you everything you need to discover albums you can grow to love. If you, despite this, feel like you want to know the "essentials", check out the discord server linked at the bottom, or ask away in the forums!</p>
			<p><b>What does "flavor" mean?</b></p>
			<p>"Flavor" is a term I coined to put a proper musical descriptor on albums beyond "AOR" or "pop". Think of it as a kind of "sub-genre". For instance, you could say that "Songs" is jazz-flavored while "A Long Vacation" is rock-flavored.</p>
			<p><b>Artist/Album X isn't city pop! It's <i>similar derivative genre</i> !</b></p>
			<p>This site isn't just for city pop. It's for anything in the time period specified earlier. There are no clear lines drawn, and that's intentional.</p>
			<p><b>Why isn't X artist on here? They're so popular!</b></p>
			<p>The only thing on this site is what people have contributed. If you think something should be on here, submit it!</p>
			<p><b>This info on album X is wrong! Fix it!</b></p>
			<p>Those of us who curate submissions try to be as vigilant as possible, but we are human, and sometimes something slips through. If you spot an issue or error, please submit a report (the flag icon in the album info) and someone will get right on it.</p>
			<p><b>I want to help out! How can I?</b></p>
			<p>You can help in many different ways, even if you have no experience with web design or servers. Something as simple as submitting albums is a huge help for everyone involved. If you, however, do know web dev pertaining to Ruby/Rails, let me know that you're interested. A helping hand doesn't hurt.</p>
			<p><b>Do you take donations?</b></p>
			<p>Not for now. While running the site is not free, and I have put a lot of blood, sweat, and tears into making this project a reality, I can't bring myself to take your money for something I'm doing just for fun. If you want to help, please look at the previous answer.</p>
			<p><b>The site is broken on mobile/my small(er than most) monitor/when I resize the window!</b></p>
			<p>Yup. Right now the site has not been developed with mobile in mind, because to me browsing an archive on a phone seems like a bit of a bad idea not matter how you do it. I might do something about that at some point.</p>
		</div>
	</div>
</div>