

#about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 20px;
	h2 {
		color: white;
		text-decoration: underline;
		z-index: 3;
	}
}

#about-text-container {
	padding-bottom: 40px;
	opacity: 1;
	z-index: 3;
	width: 80%;
	p,b {
		color: white;
		opacity: 1;
	}
	p {
		font-size: 15px;
	}
	b {
		font-size: 17px;
	}
	#purpose {
		font-size: 17px;
	}	
} 