$lighter-bg: #211c08;
$darker-bg: #1b180b;
$dark-border: #686868;
$light-border: #8c8c8c;
$dark-font: #e3e3e3;
$light-font: #e8e8e8;

#about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 20px;
	h2 {
		color: white;
		text-decoration: underline;
		z-index: 3;
	}
}

#about-text-container {
	padding-bottom: 40px;
	opacity: 1;
	z-index: 3;
	width: 80%;
	p,b {
		color: white;
		opacity: 1;
	}
	p {
		font-size: 15px;
	}
	b {
		font-size: 17px;
	}
	#purpose {
		font-size: 17px;
	}	
} 