$title-font: 'Poppins';
$header-font: 'News Cycle';
$body-font: 'Roboto Condensed';
$paragraph-font: 'Open Sans';

#alt-img {
    display: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 700px;
    height: 100vh;
    max-height: 770px;
    background: var(--darker-bg);
    z-index: 15;
    border-radius: 8px;
    border: 1px #a7a7a7 solid;
    transition: 0.4s;

    .modal-close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 35px;
        height: 35px;
        color: var(--light-font);
        opacity: 0.6;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }

    > div:first-child {
        display: flex;
        justify-content: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        align-items: center;
        width: 100%;
        border-bottom: 1px var(--dark-border) solid;
    }

    form {
        display: flex;
        width: 100%;
        position: relative;
        overflow-y: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: '';
            flex: 0 0 40px;
            width: 100%;
        }

        .modal-form-input-container {
            display: flex;
            width: 100%;
            padding: 20px;
            flex-direction: column;
            justify-content: space-around;
            flex-grow: 2;

            input {
                max-width: 250px;
            }
        }

        #register-input-container {
            > div {
                display: flex;
                flex-wrap: wrap;

                > div {
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                }
            }

            input {
                margin-bottom: 15px;
            }
        }

        .checkbox-slider {
            width: 60px;
            height: 26px;
            border-radius: 13px;
            background: darkgreen;
            border: 1px var(--dark-border) solid;
            position: relative;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                width: 22px;
                height: 22px;
                position: absolute;
                border-radius: 50%;
                background: var(--light-border);
                top: 2px;
                right: 2px;
                transition: 0.2s;
            }

            &:hover {
                cursor: pointer;

                &:after {
                    background: var(--light-font);
                }
            }
        }

        .slider-active {
            background: darkred !important;

            &:after {
                right: calc(100% - 24px)
            }
        }
    }

    input, textarea, select {
        background: var(--lighter-bg);
        color: var(--dark-font);
        border: 1px var(--dark-border) solid;
        padding: 4px;
        font-size: 18px;
    }

    input[type="email"]:invalid, input[type="password"]:invalid {
        border: 1px red solid;
    }

    select {
        min-height: 34px;
        width: 200px;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    textarea {
        width: calc(100%);
        height: 200px;
    }

    input[type="submit"] {
        width: 200px;
        margin-top: 30px;
    }

    .submit-message {
        transition: 0.3s;
        overflow: hidden;
        min-height: 70px;

        p {
            font-size: 24px;
        }
    }
}

.flash-modal {
    background: var(--lighter-bg);
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#albums-bg-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;

    img {
        position: fixed;
        min-width: 100vw;
        min-height: 100vh;
        opacity: 0;
        transition: opacity 2s;
        filter: blur(6px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .selected {
        opacity: 0.4 !important;
    }
}

#header {
    border-bottom: 1px #414141 solid;
    border-left: 1px #414141 solid;
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 600px;
    justify-content: space-between;
    padding: 4px 8px 4px 8px;

    #header-opacity {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--darker-bg);
        opacity: 0.3;
        z-index: -1;
    }

    > form {
        display: flex;
        max-width: 400px;
        flex-direction: row;
        align-items: center;

        input {
            max-width: 100px;
            background: var(--lighter-bg);
            border: 1px var(--dark-border) solid;
            margin-right: 6px;
            height: 28px;

            &[type=text], &[type=password], &[type=submit] {
                padding: 5px;
                font-size: 14px;
                color: var(--light-font);
            }

            &[type=submit] {
                margin-left: 8px;
                border-radius: 3px;
                padding: 5px 10px 5px 10px;
            }
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        color: var(--light-font);
        opacity: 0.7;
        transition: 0.1s;

        &:hover {
            opacity: 0.9;
        }
    }

    .unread-notifications .icon {
        color: red !important;
        opacity: 0.8;

        &:hover {
            opacity: 1 !important;
        }
    }

    a {
        font-size: 11px;
        text-decoration: underline;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    #login-links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    > div {
        display: flex;
        align-items: center;

        #profile-nav {
            display: flex;
            align-items: center;
            border-right: 1px var(--dark-border) solid;
            border-left: 1px var(--dark-border) solid;
            margin: 0 10px;

            a {
                padding: 0 10px;

                &:not(:first-child) {
                    border-left: 1px var(--dark-border) solid;
                }
            }
        }

        > div, p {
            font-size: 14px;
            margin: 0;
        }

        .hidden {
            display: none !important;
        }

        #notification-list {
            position: absolute;
            padding: 12px;
            background: var(--lighter-bg);
            border: 1px var(--light-border) solid;
            border-radius: 8px;
            top: 40px;
            right: 8px;
            display: flex;
            flex-direction: column;
            width: 400px;
            z-index: 12;
            box-shadow: 4px 4px 10px 0 #0f0f0f;

            &::before {
                content: '';
                padding: 8px;
                position: absolute;
                width: 0;
                top: -9px;
                right: 21%;
                transform: rotate(45deg);
                border-top: 1px var(--light-border) solid;
                border-left: 1px var(--light-border) solid;
                z-index: 13;
                background: var(--lighter-bg);
            }

            h3 {
                margin: 0;
            }

            > i {
                margin: 20px 0;
                font-size: 25px;
                align-self: center;
                opacity: 0.5;
            }

            .notification-card {
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                background: var(--darker-bg);
                border: 1px var(--dark-border) solid;
                border-radius: 8px;
                padding: 8px;
                margin: 6px 0;
                text-decoration: none;
                transition: 0.2s;
                box-shadow: 4px 4px 10px 0 #0f0f0f;

                &:hover {
                    border: 1px var(--light-font) solid;
                }

                h4, p, h3, h2, h1 {
                    margin: 0;
                }

                .notification-header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    h4 {
                        font-size: 13px;
                    }

                    p {
                        font-size: 13px;
                        opacity: 0.8;
                    }
                }

                .notification-body {
                    width: 100%;
                    display: flex;

                    p {
                        word-break: break-all;
                    }
                }

                .notification-divider {
                    align-self: center;
                    margin: 8px;
                    padding: 0;
                    border-top: 1px var(--dark-border) solid;
                    width: 45px;
                }
            }

            #see-all {
                align-self: center;
                font-size: 14px;
                transition: 0.1s;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

#footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    #link-list {
        display: flex;
        flex-flow: row;
        padding: 0 20px 0 20px;

        li {
            padding: 5px 10px 5px 10px;
            display: flex;
            align-items: center;

            a {
                text-decoration: underline;
                font-size: 12px;
                color: #a4a4a4;
                transition: 0.1s;
            }

            a:hover {
                cursor: pointer;
                color: #ccc;
            }
        }

        li:nth-of-type(3) {
            border-left: 1px var(--dark-border) solid;
        }
    }

    #disclaimers {
        display: flex;

        p {
            color: #808080;
            font-size: 11px;
        }

        p:last-child {
            margin-left: 15px;
        }

        a {
            text-decoration: underline;
            color: #a7a7a7;
        }

        #album-total-count {
            margin-left: 3px;
        }

        #total-count-left {
            margin-left: 3px;
        }
    }
}

#search-title {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    #logo-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        position: relative;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.015);
        }

        h1 {
            font-family: "Poppins";
            font-weight: bold;
            font-size: 80px;
            margin: 0;
        }

        h2 {
            margin: 0;
        }
    }
}

#sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #nav-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            display: flex;
            flex-grow: 1;

            a {
                flex-grow: 0.4;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                text-decoration: none;
                transition: 0.1s;
                opacity: 0.8;
                padding: 10px 20px 10px 20px;
                color: white;
                font-family: $header-font;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    opacity: 0.8;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                }

                &:hover {
                    cursor: pointer;

                    &:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }

            .nav-arrow {
                position: absolute;
                color: var(--light-font);
                top: 16px;
                right: 20px;
                transition: 0.1s;
            }
        }
    }
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-grow: 3;

    > div:not(#main-opacity), > div:not(#search), > div:not(#filters) {
        position: relative;
        border-top: 1px var(--dark-border) solid;
        border-bottom: 1px var(--dark-border) solid;
        min-height: calc(100vh - 345px);
        width: 100vw;
        @media (min-width: 800px) {
            width: 70vw;
        }
    }

    #main-opacity {
        opacity: 0.5;
        background: var(--darker-bg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .spinner {
        max-width: 60px;
        margin: 80px;
        opacity: 0.8;
        z-index: 10;
    }

    #search {
        position: relative;
        width: 70%;
        margin-top: 20px;

        .icon {
            position: absolute;
            width: 35px;
            height: 35px;
            right: 5px;
            color: #a7a7a7;
        }

        #main-search {
            width: 100%;
            background: var(--lighter-bg);
            border: 1px #a7a7a7 solid;
            border-radius: 5px;
            font-size: 20px;
            color: var(--light-font);
            padding: 4px 8px 4px 8px;

            &::placeholder {
                font-size: 20px;
                color: var(--light-font);
            }
        }
    }

    #filters {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px 14px 0 14px;
        margin-bottom: 7px;
        border-bottom: 1px #a7a7a7 solid;

        &:hover {
            background: none;
            cursor: default;
        }

        .title-wrapper {
            cursor: default;
            z-index: 3;
        }

        #sort-list {
            display: flex;

            li {
                padding: 10px 20px 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                position: relative;

                a {
                    hyphens: none;
                    white-space: nowrap;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .icon {
                color: var(--light-font);
                transition: 0.2s;
                width: 35px;
                height: 35px;
            }

            .selected {
                border-bottom: 1px var(--light-font) solid;
            }

            .rotated {
                transform: rotate(180deg);
            }
        }
    }

    #album-container {
        width: 100vw !important;
        display: flex;
        flex-direction: column;
        align-items: center;

        #splash-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 204px);
            grid-auto-rows: max-content;
            grid-gap: 8px;
            justify-content: center;
            width: 100%;

            li {
                width: 204px;
                margin: 8px;
            }

            .album-container {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                width: 100%;
                height: 330px;

                .album-text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height: 306px;

                    .text-size-wrapper {
                        display: flex;
                        width: 100%;
                        height: 35px;
                        justify-content: center;
                        margin-bottom: 4px;
                        overflow: hidden;
                    }

                    h2 {
                        font-size: 25px;
                    }

                    p {
                        font-size: 19px;
                    }

                    p,
                    h2 {
                        margin: 2px;
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                    }

                    p {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    img {
                        margin: 2px;
                        width: 200px;
                        max-height: 200px;
                        align-self: center;
                        cursor: pointer;
                        transition: 0.1s;
                        box-sizing: content-box;

                        &:hover {
                            border: 1px var(--dark-font) solid;
                        }

                        &:after {
                            content: "";
                            display: block;
                            padding-bottom: 100%;
                        }
                    }

                    .artist-year-container {
                        overflow-x: hidden;
                    }
                }

                .arrow-container {
                    position: absolute;
                    top: 304px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px var(--light-border) solid;

                    .album-arrow {
                        color: var(--light-font);
                        margin-top: -15%;
                        align-self: center;
                        transition: 0.3s;
                    }
                }

                .arrow-container:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.info-container {
    position: absolute;
    width: 100vw;
    left: 0;
    overflow: hidden;

    .info-wrapper {
        flex-direction: column;
        width: 100%;
        height: 475px;
        padding: 15px;
        display: flex;
        background: var(--darker-bg);
        border-top: 1px var(--light-border) solid;
        border-bottom: 1px var(--light-border) solid;
        overflow: hidden;
        position: relative;
        transition-property: border, transform !important;

        .ei {
            color: #ffffff;
            height: 40px;
            width: 40px;
            opacity: 0.6;
            position: absolute;
            transition: opacity 0.3s;
            right: 20px;
            z-index: 4;
        }

        .ei:hover {
            cursor: pointer !important;
            opacity: 0.9 !important;
        }

        .close-icon {
            font-size: 40px;
        }

        .flag-icon {
            right: 64px;
        }

        img::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        p,
        h2 {
            font-size: 20px;
            margin: 3px 0 3px 0;
        }

        > * {
            z-index: 3;
        }

        .info-background {
            position: absolute;
            width: 100%;
            top: -100%;
            z-index: 0;

            img {
                z-index: 0;
                border: none;
                position: absolute;
                margin: 0;
                padding: 0;
                margin-left: -15px;
                max-width: 10000px;
                width: 100%;
                filter: blur(20px);
                opacity: 0.4;
            }
        }

        .label {
            font-size: 14px;
        }

        .info-text-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 12px;
            height: 460px;
            justify-content: space-between;
            flex-shrink: 0;
            transition: transform 0.3s;
            overflow-x: auto;

            .text-container {
                display: flex;
                flex-direction: row;
                border-bottom: 1px var(--light-border) solid;
                position: relative;

                p, h2, h3 {
                    margin: 0;
                    hyphens: none;
                }

                > div {
                    margin: 0 25px 5px 0;
                    display: flex;
                    flex-direction: column;
                    white-space: nowrap;
                }

                .artist-container {
                    display: flex;
                    flex-direction: column;
                }

                .title-container {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-size: 30px;
                    }
                }

                .description-container {
                    .label {
                        margin-bottom: 7px;
                    }

                    .description {
                        font-size: 15px;
                        hyphens: auto;
                        white-space: normal;
                        max-height: 70px;
                        overflow-y: auto;
                    }
                }
            }

            .info-divider {
                margin: 0 30px 0 15px;
                height: 161.5px;
                width: 0;
                border-right: 1px var(--light-border) solid;
            }

            .track-grow-wrapper {
                display: flex;
                align-items: center;
                height: 410px;
                position: relative;

                .contributor {
                    display: flex;
                    position: absolute;
                    bottom: 8px;
                    right: 20px;
                    padding-left: 10px;
                    border-left: 1px var(--dark-border) solid;

                    p {
                        font-size: 16px !important;
                        margin-left: 10px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }

                .link-image-container {
                    display: flex;
                    align-items: center;
                    min-width: 390px;
                    max-width: 390px;
                    height: 341.5px;
                    position: relative;
                    overflow: hidden;
                    transition: 0.3s;

                    .expandable-img {
                        position: absolute;
                        left: 0;
                        width: 337.5px;
                        border: 2px var(--darker-bg) solid;
                        z-index: 2;
                    }

                    .expandable-img:hover {
                        cursor: pointer;
                    }

                    .vinyl-icon {
                        width: 340px;
                        height: 340px;
                        position: absolute;
                        right: 0;
                        z-index: 1;
                        transition: right 0.3s, transform 0.3s, width 0s, height 0s;
                        border-radius: 50%;
                    }

                    .vinyl-icon:hover {
                        transform: rotate(90deg) !important;
                        cursor: pointer;
                    }

                    .stream-slider-container {
                        min-width: 600px;
                        max-width: 600px;
                        height: 337.5px;
                        position: absolute;
                        right: 0px;
                        margin-right: 625px;
                        border: 2px solid black;
                        box-sizing: content-box;

                        .stream-arrow-left, .stream-arrow-right, .stream-close {
                            font-size: 40px;
                            color: #ffffff;
                            opacity: 0.6;
                            position: absolute;
                            transition: 0.3s;
                        }

                        .stream-arrow-left:hover, .stream-arrow-right:hover, .stream-close:hover {
                            opacity: 0.9;
                            cursor: pointer;
                        }

                        .stream-close {
                            right: -50px;
                        }

                        .stream-arrow-left {
                            top: calc(50% - 17.5px);
                            right: 600px;
                        }

                        .stream-arrow-right {
                            top: calc(50% - 17.5px);
                            right: -45px;
                        }

                        .video-slider {
                            display: flex;
                            align-items: center;
                            overflow-x: hidden;
                            width: 100%;

                            iframe {
                                border: 0;
                                height: 337.5px;
                                min-width: 100%;
                                transition: margin-left 0.4s;
                            }
                        }
                    }
                }

                .tracklist-wrapper {
                    display: flex;
                    height: 341.5px;
                    flex-direction: column;

                    h3 {
                        margin: 0 0 16px 0;
                    }

                    .tracklist-container {
                        display: flex;
                        flex-flow: column wrap;
                        height: 304px;

                        li {
                            width: 200px;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            margin-right: 15px;
                            margin-bottom: 8px;
                            min-height: 28px;

                            .track-title-wrap {
                                display: flex;
                                flex-direction: column;
                                flex-grow: 1;

                                p, i {
                                    word-break: break-all !important;
                                }
                            }

                            .track-title-container p:first-child {
                                margin-right: 5px;
                            }

                            div {
                                width: 100%;
                                display: flex;
                                align-content: flex-end;
                            }
                        }

                        p,
                        i {
                            font-size: 14px;
                        }

                        .duration {
                            padding-left: 10px;
                        }
                    }
                }

                .report-form {
                    display: flex;
                    flex-direction: row;

                    input, select, .send-report-button {
                        display: block;
                    }
                }

                .report-form-hidden {
                    input, select, .send-report-button {
                        display: none !important;
                    }
                }
            }

            .scroll-arrow-up, .scroll-arrow-down {
                font-size: 40px;
                color: #ffffff;
                opacity: 0.6;
                position: absolute;
                transition: 0.3s;
                left: calc(50% - 20px);
            }

            .scroll-arrow-down {
                bottom: 0;
            }

            .scroll-arrow-up {
                top: 0;
            }
        }

        .edit-form-container {
            width: 100%;
            display: flex;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            overflow-x: auto;
            transition: transform 0.3s;

            input, textarea {
                background: var(--darker-bg);
                padding: 4px;
                border: 1px var(--dark-border) solid;
                color: var(--dark-font);
                font-size: 18px;
            }

            input[type="submit"] {
                background: var(--lighter-bg);
            }

            .cover-edit-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                $cover-dimensions: 337.5px;

                label {
                    min-width: $cover-dimensions;
                    z-index: 3;
                }

                h2 {
                    margin: 5px 0 0 0;
                }

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    padding: 0;
                }

                > div {
                    margin-top: 20px;
                    min-width: $cover-dimensions;
                    max-width: $cover-dimensions;
                    overflow: hidden;
                    position: relative;
                    display: flex;

                    > div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        border-radius: 25%;
                        background: var(--lighter-bg);

                        p {
                            color: white;
                            font-size: 24px;

                            &:not(:first-child) {
                                font-size: 18px;
                            }
                        }
                    }

                    img {
                        width: $cover-dimensions;
                        transition: 0.3s;
                        opacity: 1;
                        display: block;
                    }

                    .cover-editable {
                        &:hover {
                            border-radius: 25%;
                            cursor: pointer;
                            filter: blur(4px);
                            opacity: 0.3;
                        }
                    }
                }
            }

            .field-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                min-height: 450px;

                > input {
                    padding: 8px;
                    color: var(--dark-font);
                    align-self: flex-end;
                    font-size: 20px;
                    border-radius: 3px;
                    border: 1.3px var(--dark-border) solid;
                    transition: 0.1s;
                    width: auto;
                }

                > input:hover {
                    cursor: pointer;
                    border: 1px var(--light-font) solid;
                }

                .divider {
                    width: 0;
                    height: 200px;
                    margin: 0 25px 0 25px;
                    border-left: 1px var(--light-border) solid;
                    align-self: center;
                }

                .input-field-container, .description-field {
                    display: flex;
                    flex-direction: column;
                    width: 400px;
                    height: 100%;
                    justify-content: space-between;
                }

                .input-field-container {
                    width: auto;
                    margin-left: 8px;
                }
            }

            form {
                display: flex;
            }

            textarea {
                width: 100%;
                padding: 4px;
                height: 150px;
                flex-grow: 2;
            }
        }
    }
}

.tracklist-submit {
    margin-right: 8px;
    overflow: auto;
    max-height: 450px;
    width: 580px;

    .tracklist-edit-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .track-add-btn {
            font-size: 40px;
            color: var(--dark-font);
            opacity: 0.6;
            transition: 0.2s;
            align-self: center;
        }

        .track-add-btn:hover {
            cursor: pointer;
            opacity: 1;
        }

        .track-input-container {
            display: flex;
            width: 100%;
            margin-bottom: 5px;
            align-items: center;

            .draggable-area {
                width: 15px;
                height: 32px;
                background: var(--darker-bg);
                border-top: 1px var(--dark-border) solid;
                border-left: 1px var(--dark-border) solid;
                border-bottom: 1px var(--dark-border) solid;
                position: relative;

                &:hover {
                    cursor: grab;
                    cursor: -webkit-grab;
                    cursor: -moz-grab;
                }

                &:before {
                    content: '.';
                    position: absolute;
                    left: 2px;
                    top: -10px;
                    font-size: 20px;
                    line-height: 20px;
                    color: var(--dark-border);
                    text-shadow: 5px 9px var(--dark-border),
                    0 9px var(--dark-border),
                    5px 0px var(--dark-border),
                    5px 18px,
                    0 18px;
                }
            }

            .track-delete-btn {
                color: var(--dark-font);
                opacity: 0.8;
                transition: 0.2s;
            }

            .track-delete-btn:hover {
                opacity: 1;
                cursor: pointer;
            }

            input {
                height: 32px;

                &:nth-of-type(2n+0) {
                    background: var(--lighter-bg) !important;
                }
            }

            &:nth-of-type(even) input, &:nth-of-type(even) .draggable-area {
                background: var(--lighter-bg) !important;

                &:nth-of-type(2n+0) {
                    background: var(--darker-bg) !important;
                }
            }

            .title, .duration, .romanization {
                border-top: 1px var(--dark-border) solid !important;
                border-right: none !important;
                border-bottom: 1px var(--dark-border) solid !important;
                border-left: none !important;

                &:focus {
                    border-bottom: 1px royalblue solid !important;
                    border-top: 1px royalblue solid !important;
                }
            }

            .duration {
                max-width: 50px !important;
                min-width: 50px !important;
                border-right: 1px var(--dark-border) solid !important;
            }
        }
    }
}

.paragraph {
    font-family: $paragraph-font;
    color: var(--light-font);
    overflow-x: auto;

    p {
        font-family: $paragraph-font !important;
        margin: 0.8em 0 !important;
    }

    a {
        color: royalblue !important;
        font-family: $paragraph-font !important;

        &:hover {
            color: #5ea9fe !important;
        }

        text-decoration: underline;
    }

    pre {
        overflow-x: auto;
    }

    ul {
        list-style-type: initial;
        padding-left: 40px;
        font-size: 14px;
    }

    img {
        max-width: 100%;
    }
}

.tooltip {
    .tooltiptext {
        display: flex;
        visibility: hidden;
        background: var(--lighter-bg);
        min-width: 200px;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 15;
        top: 125%;
        left: -80%;
        opacity: 0;
        transition: opacity 0.3s;
        transition-delay: 0.5s;
        font-size: 11px;
        padding: 6px;
        border-radius: 6px;
        border: 1px #414141 solid;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent var(--lighter-bg) transparent;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: 0;
}

#opaque {
    position: fixed;
    height: 110vh;
    width: 110vw;
    transition: 0.1s;
    z-index: -2;
}

#error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;

    > * {
        z-index: 3;
    }

    h2 {
        margin-top: 20px;
    }
}

//"Global" rules

body {
    padding: 0;
    margin: 0;
    background: var(--darker-bg);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px royalblue solid !important;
}

input[type="submit"] {
    transition: border .1s;
    background: var(--darker-bg);
    overflow: hidden;
    font-size: 20px;
    min-height: 2em;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        border: 1px var(--dark-font) solid !important;
    }
}

input, textarea, .button {
    font-family: $body-font;
    border: var(--dark-border);
    background: var(--darker-bg);
    height: 35px;
}

textarea {
    font-size: 16px;
}

iframe {
    background: black;
}

p, b, strong, i, a, h1, h2, h3, h4 {
    word-break: break-all;
    word-break: break-word;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-family: $title-font;
    color: var(--light-font);
    text-decoration: none;
}

h2, h3, h4 {
    font-family: $header-font;
    color: var(--light-font);
    text-decoration: none;
}

p, a, i {
    font-family: $body-font;
    color: var(--light-font);
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

blockquote {
    margin: 8px 4px;
    padding: 2px 16px;
    border-left: 1px var(--dark-border) solid;
    opacity: 0.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

//Utility classes

.hidden {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.enlargened {
    z-index: 15;
    position: fixed;
    max-width: 90vh;
}

.gray {
    filter: grayscale(100%);
}

.brightness {
    filter: brightness(150%);
}

.image-border {
    border: 1px var(--dark-font) solid;
}

.asterisk {
    font-size: 13px;
}

.shrunk {
    height: 0 !important;
    min-height: 0 !important;
}

.modal-inactive {
    top: -100vmax !important;
}

.in-animation {
    transition: 0.2s !important;
    transition-property: transform;
}

.open-animation {
    transform: translateY(-493px) !important;
}

.close-animation {
    transform: translateY(493px) !important;
}

.edit-active {
    transform: translateY(-478px) !important;
}

.album-active {
    height: 820px !important;
}

.arrow-rotated {
    transform: rotate(180deg) !important;
}

.red {
    color: red !important;
}

@media (min-width: 1380px) {
    #nav-list {
        width: 70% !important;
    }
}
