@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

$album-bg-color: #171717;

body {
	background: #232323;
	padding: 0;
	margin: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sidebar {
	min-width: 250px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #2a2a2a;
}

#main-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: flex-start;
}

#nav-list {
	width: 100%;
}

#nav-list li {
	transition: 0.1s;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		padding: 8px 15px 8px 15px;
	}
}

.nav-btn {
	border-top: 1px solid #171717;
}

.nav-btn:last-child {
	border-bottom: 1px solid #171717;
}

.nav-btn:hover {
	background: #a8a8a8;
	cursor: pointer;
}

#splash-container {
	display: flex;
	position: relative;
	flex-flow: row wrap;
	justify-content: space-around;
	background: $album-bg-color;
	max-height: 90vh;
	overflow-y: scroll;
}

.album-container {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: 0.3s;
	padding: 8px;
	width: auto;
	z-index: 3;
}

.album-text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	overflow-x: hidden;
	max-height: 280px;
	background: $album-bg-color;
	h2 {
		align-self: center;
	}
	p {
		font-size: 15px;
	}
	p, h2 {
		margin: 2px;
	}
	img {
		max-width: 200px;
		align-self: center;
		:after {
		content: "";
		display: block;
		padding-bottom: 100%;
		}
	}
}

.arrow-container:hover {
	cursor: pointer;
}

.arrow-container {
	background: $album-bg-color;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px #8c8c8c solid;
}

.album-arrow {
	color: #e8e8e8;
	font-size: 18px;
	align-self: center;
	transition: 0.3s;
}

.offset {
	top: 340px;
	left: 0;
	position: absolute;
}

.info-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
	background: #232323;
	border-top: 1px #8c8c8c solid;
	border-bottom: 1px #8c8c8c solid;
	transition: 0.3s;
	z-index: -3;
	img {
		max-width: 400px;
		margin-right: 100px;
		:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}
	p, h2 {
		font-size: 20px;
	}
}

.info-text-container {
	display: flex;
	flex-direction: column;
}

h1, h2, p, a {
	font-family: "Roboto";
	color: #e8e8e8;
	text-decoration: none;
}

h1 {
	margin: 50px 0 50px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}
