$album-bg-color: #171717;
$body-bg-color: #1b1b1b;

body {
	padding: 0;
	margin: 0;
}

#alt-img {
	display: none;	
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	#bg-opacity {
		width: 100%;
		height: 100vh;
		background: $body-bg-color;
		opacity: 0.6;
		position: fixed;
		top: 0;
		left: 0;
	}
}

#albums-bg-container {
	display: flex;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -2;
	img {
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100vmax;
		opacity: 0;
		transition: opacity 2s;
		filter: blur(10px);
	}
	img:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}

#footer {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px #414141 solid;
	z-index: 5;
	#link-list {
		display: flex;
		flex-flow: row;
		padding: 0 20px 0 20px;
		margin-top: 15px;
		li {
			padding: 5px 10px 5px 10px;
			a {
				text-decoration: underline;
				font-size: 12px;
				color: #a4a4a4;
				transition: 0.1s;
			}
			a:hover {
				cursor: pointer;
				color: #ccc;
			}
		}
		li:nth-of-type(3) {
			border-left: 1px #414141 solid;
		}
		li:nth-of-type(4) {
			border-right: 1px #414141 solid;
		}
	}
	#disclaimers {
		display: flex;
		margin-top: 10px;
		p {
			color: #808080;
			font-size: 9px;
		}
		p:last-child {
			margin-left: 15px;
		}
		a {
			text-decoration: underline;
			color: #a7a7a7;
		}
		#album-total-count {
			margin-left: 3px;
		}
		#total-count-left {
			margin-left: 3px;
		}
	}
}

#search-title {
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	#logo-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 20px;
		position: relative;
		h1 {
			font-family: "Poppins";
			font-weight: bold;
			font-size: 80px;
			margin: 0;
		}
		h2 {
			margin: 0;
		}
		#beta-title {
			position: absolute;
			top: 28px;
			right: -20px;
			transform: rotate(45deg);
		}
	}
	#input {
		position: relative;
		width: 70%;
		ion-icon {
			position: absolute;
			top: 2px;
			right: 0;
			font-size: 30px;
			color: #a7a7a7;
		}
		#main-search {
			width: 100%;
			height: 30px;
			background: #2a2a2a;
			border: 1px #a7a7a7 solid;
			border-radius: 5px
		}
		#main-search[type=text] {
			font-family: "Roboto";
			font-size: 20px;
			color: #e8e8e8;
			padding-left: 8px;
		}
	}
	#main-search::placeholder {
		font-size: 20px;
		font-family: "Roboto";
		color: #e8e8e8;
	}
}

#sidebar {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	border-bottom: 1px #414141 solid;
	border-top: 1px #414141 solid;
	#nav-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		> li:first-child {
			border-bottom: 1px #414141 solid;
		}
		li {
			display: flex;
			flex-grow: 1;
			.nav-btn {
				min-height: 40px;
				flex-grow: 0.4;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.1s;
				.title-wrapper {
					width: 100%;
					height: 40px;
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
					}
				}
				#random .title-wrapper {
					height: 23px;
					border-left: 1px #414141 solid;
				}
			}
			.nav-btn:hover {
				background: #4c4c4c;
				cursor: pointer;
			}
			.nav-arrow {
				position: absolute;
				color: #e8e8e8;
				top: 16px;
				right: 20px;
				transition: 0.1s;
			}
			#filters {
				display: flex;
				align-items: center;
				.title-wrapper {
					cursor: default;
					height: 23px;
					border-left: 1px #414141 solid;
					flex-shrink: 4;
				}
			}
	
			#filters:hover {
				background: none;
				cursor: default;
			}
	
			#sort-list {
				display: flex;
				width: 100%;
				li {
					margin: 0 10px 0 10px;
					padding: 0 10px 0 10px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 50%;
					height: 40px;
					position: relative;
					transition: 0.2s;
				}
				ion-icon {
					color: #e8e8e8;
					font-size: 14px;
					transition: 0.2s;
					margin-left: 10px;
				}
				li:hover {
					cursor: pointer;
				}
				.selected {
					border-bottom: 1px #e8e8e8 solid;
				}
				.rotated {
					transform: rotate(180deg);
				}
			}
		}
	}
}

#main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
	#main-opacity {
		opacity: 0.3;
		background: $body-bg-color;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
	.spinner {
		max-width: 60px;
		margin: 80px;
		opacity: 0.8;
		z-index: 10;
	}
	#splash-container {
		display: flex;
		width: 220px;
		flex-wrap: wrap;
		.album-container {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			transition: 0.3s;
			margin: 8px;
			width: 204px;
			height: 327px;
			.album-text-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				height: 306px;
				.text-size-wrapper {
					display: flex;
					width: 100%;
					height: 35px;
					justify-content: center;
					margin-bottom: 4px;
					overflow: hidden;
				}
				h2 {
					font-size: 25px;
				}
				p {
					font-size: 19px;
				}
				p,
				h2 {
					margin: 2px;
					white-space: nowrap;
					display: flex;
					align-items: center;
				}
				img {
					margin: 2px;
					width: 200px;
					max-height: 200px;
					align-self: center;
					cursor: pointer;
					transition: 0.1s;
				}
				img:hover {
					border: 1px #e3e3e3 solid;
				}
				img:after {
					content: "";
					display: block;
					padding-bottom: 100%;
				}
				.artist-year-container {
					overflow-x: hidden;
				}
			}
			.arrow-container {
				position: absolute;
				top: 304px;
				width: 100%;
				display: flex;
				justify-content: center;
				border-bottom: 1px #8c8c8c solid;
				.album-arrow {
					color: #e8e8e8;
					font-size: 22px;
					align-self: center;
					transition: 0.3s;
				}
			}
			.arrow-container:hover {
				cursor: pointer;
			}
		}
	}
}

.info-container {
	position: absolute;
	width: 100vw;
	.info-wrapper {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 475px;
		padding: 0px;
		background: #232323;
		border-top: none;
		border-bottom: none;
		overflow: hidden;
		position: relative;
		transition: 0.3s;
		img::after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
		p,
		h2 {
			font-size: 20px;
			margin: 3px 0 3px 0;
		}
		>* {
			z-index: 3;
		}
		.info-background {
			position: absolute;
			width: 100%;
			top: -100%;
			z-index: 0;
			img {
				z-index: 0;
				border: none;
				display: none;
				position: absolute;
				margin: 0;
				padding: 0;
				margin-left: -15px;
				max-width: 10000px;
				width: 100%;
				filter: blur(20px);
				opacity: 0.4;
			}
		}
		.label {
			font-size: 14px;
		}
		.info-text-container {
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: space-between;
			flex-shrink: 0;
			transition: 0.3s;
			.text-container {
				display: flex;
				flex-direction: row;
				border-bottom: 1px #8c8c8c solid;
				position: relative;
				p,h2,h3 {
					margin: 0;
				}
				> div {
					margin: 0 25px 5px 0;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
				.artist-container {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;
				}
				.title-container {
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex-shrink: 0;
					h2 {
						font-size: 30px;
					}
				}
				.description-container {
					flex-shrink: 2;
					.label {
						margin-bottom: 10px
					}
					.description {
						font-size: 15px
					}
				}
				.edit-icon {
					font-size: 24px;
					color: #ffffff;
					opacity: 0.6;
					position: absolute;
					transition: 0.3s;
					top: 0;
					right: 15px;
					top: calc(50% - 20px);
				}
				.edit-icon:hover {
					cursor: pointer;
					opacity: 0.9;
				}
			}
			.info-divider {
				margin: 0 30px 0 15px ;
				height: 161.5px;
				width: 0;
				border-right: 1px #8c8c8c solid;
			}
			.track-grow-wrapper {
				display: flex;
				align-items: center;
				height: 410px;
				position: relative;
				.link-image-container {
					display: flex;
					align-items: center;
					min-width: 390px;
					max-width: 390px;
					height: 341.5px;
					position: relative;
					overflow: hidden;
					transition: 0.3s;
					.expandable-img {
						position: absolute;
						left: 0;
						width: 337.5px;
						border: 2px #171717 solid;
						z-index: 2;
					}
					.expandable-img:hover {
						cursor: pointer;
					}
					.vinyl-icon {
						width: 340px;
						height: 340px;
						position: absolute;
						right: 0;
						z-index: 1;
						transition: right 0.3s, transform 0.3s, width 0s, height 0s;
						border-radius: 50%;
					}
					.vinyl-icon:hover {
						transform: rotate(90deg) !important;
						cursor: pointer;
					}
					.stream-slider-container {
						min-width: 600px;
						max-width: 600px;
						height: 337.5px;
						position: absolute;
						right: 0px;
						margin-right: 625px;
						border: 2px solid black;
						box-sizing: content-box;
						.stream-arrow-left, .stream-arrow-right, .stream-close {
							font-size: 40px;
							color: #ffffff;
							opacity: 0.6;
							position: absolute;
							transition: 0.3s;
						}
						.stream-arrow-left:hover, .stream-arrow-right:hover, .stream-close:hover {
							opacity: 0.9;
							cursor: pointer;
						}
						.stream-close {
							top: 5px;
							right: -45px;
						}
						.stream-arrow-left {
							top: calc(50% - 17.5px);
							right: 600px;
						}
						.stream-arrow-right {
							top: calc(50% - 17.5px);
							right: -45px;
						}
						.video-slider {
							display: flex;
							align-items: center;
							overflow-x: hidden;
							width: 100%;
							iframe {
								border: 0;
								height: 337.5px;
								min-width: 100%;
								transition: margin-left 0.4s;
							}
						}
					}
				}
				.tracklist-wrapper {
					display: flex;
					height: 341.5px;
					flex-direction: column;
					h3 {
						margin: 0 0 16px 0;
					}
					.tracklist-container {
						display: flex;
						flex-flow: column wrap;
						height: 304px;
						li {
							width: 200px;
							display: flex;
							align-items: flex-start;
							justify-content: space-between;
							margin-right: 15px;
							margin-bottom: 8px;
							min-height: 28px;
							.track-title-wrap {
								display: flex;
								flex-direction: column;
								flex-grow: 1;
							}
							.track-title-container p:first-child {
								margin-right: 5px;
							}
							div {
								display: flex;
								align-content: flex-end;
							}
						}
						p,
						i {
							font-size: 14px;
						}
						.duration {
							padding-left: 10px;
						}
					}
				}
			}
			.scroll-arrow-up, .scroll-arrow-down {
				font-size: 40px;
				color: #ffffff;
				opacity: 0.6;
				position: absolute;
				transition: 0.3s;
				left: calc(50% - 20px);
			}
			.scroll-arrow-down {
				bottom: 0;
			}
			.scroll-arrow-up {
				top: 0;
			}
		}
		.edit-form-container {
			width: 100%;
			display: flex;
			margin-top: 8px;
			position: relative;
			.field-container {
				display: flex;
				flex-flow: column wrap;
			}
			.close-icon {
				font-size: 40px;
				color: #ffffff;
				opacity: 0.6;
				position: absolute;
				transition: 0.3s;
				top: 0;
				right: 15px;
				top: 0;
			}
			.close-icon:hover {
				cursor: pointer;
				opacity: 0.9;
			}
		}
	}
}

iframe {
	background: black;
}

h2,h3,p,a,i {
	font-family: "Roboto";
	color: #e8e8e8;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

#opaque {
	position: fixed;
	height: 110vh;
	width: 110vw;
	transition: 0.1s;
	z-index: -2;
}

.enlargened {
	z-index: 5;
	position: fixed;
	max-width: 90vh;
}

.gray {
	filter: grayscale(100%);
}

.brightness {
	filter: brightness(150%);
}

.image-border {
	border: 1px #e3e3e3 solid;
}

.offset {
	left: 0;
}

div {
	box-sizing: border-box;
}

.tooltip {
	.tooltiptext {
		display: flex;
		visibility: hidden;
		background: #2a2a2a;
		min-width: 200px;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 8;
		top: 125%;
		left: -80%;
		opacity: 0;
		transition: opacity 0.3s;
		transition-delay: 0.5s;
		font-size: 11px;
		padding: 6px;
		border-radius: 6px;
		border: 1px #414141 solid;
	}
	.tooltiptext::after {
		content: "";
	    position: absolute;
	    bottom: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: transparent transparent #2a2a2a transparent;
	}
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: 0;
}

@media (min-width: 461px) {
	#main-container #splash-container {
		width: 440px;
	}
	@media (min-width: 681px) {
		#main-container #splash-container {
			width: 660px;
		}	
		@media (min-width: 850px) {
			#nav-list {
				flex-direction: row !important;
				li {
					border: none !important;
				}
			}
			@media (min-width: 901px) {
				#main-container #splash-container {
					width: 880px;
				}	
				@media (min-width: 1121px) {
					#main-container #splash-container {
						width: 1100px;
					}	
					@media (min-width: 1341px) {
						#main-container #splash-container {
							width: 1320px;
						}
						@media (min-width: 1380px) {
							#nav-list {
								width: 70% !important;
							}
							@media (min-width: 1561px) {
								#main-container #splash-container {
									width: 1540px;
								}
								@media (min-width: 1781px) {
									#main-container #splash-container {
										width: 1760px;
									}	
									@media (min-width: 2001px) {
										#main-container #splash-container {
											width: 1760px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}