$lighter-bg: #2f3322;
$darker-bg: #191b12;
$dark-border: #686868;
$light-border: #8c8c8c;
$dark-font: #e3e3e3;
$light-font: #e8e8e8;

#articles-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
        z-index: 3;
    }
    .article-opacity {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $darker-bg;
        opacity: 0.4;
        z-index: -1;
    }
    .article {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 10px 0 10px;
        margin-bottom: 20px;
        width: 50%;
        height: 300px;
        .article-info {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 12px;
                opacity: 0.9;
                margin: 1px;
            }
            > div {
                display: flex;
                flex-direction: column;
            }
        }
        .article-header {
            width: 100%;
            min-height: 100px;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                filter: blur(4px) brightness(0.5);
                z-index: -1;
            }
            h2 {
                margin: 0 50px;
                padding: 8px;
                align-self: center;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }
            > div {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                max-width: 900px;
                width: 100%;
                p {
                    opacity: 0.8;
                    margin: 0;
                }
                > div {
                    display: flex;
                    flex-direction: column;
                    padding-left: 6px;
                    .avatar-wrapper {
                        border-radius: 50%;
                        overflow: hidden;
                        min-width: 40px;
                        max-width: 40px;
                        min-height: 40px;
                        max-height: 40px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .article-body {
            min-height: 50px;
            overflow: hidden;
            flex-grow: 1;
        }
        .show-more {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px $dark-border solid;
            border-bottom: 1px $dark-border solid;
            transition: 0.2;
            .article-link-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 35px;
                transition: 0.3s;
                position: relative;
                padding: 0 10px 0 10px;
                &:hover {
                    width: 180px;
                    ion-icon {
                        opacity: 0.9;
                        transform: rotate(180deg)
                    }
                    a {
                       margin-left: 0; 
                    }
                }
                ion-icon {
                    position: absolute;
                    right: 0;
                    color: $light-font;
                    width: 30px;
                    height: 30px;
                    opacity: 0.7;
                    transition: 0.3s;
                }
                a {
                    white-space: nowrap;
                    transition: 0.3s;
                    margin-left: -150px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        h4, p {
            font-family: 'Open Sans';
        }
        h2, h4 {
            align-self: center;
        }
        h4 {
            margin: 5px 0;
        }
        p {
            font-size: 13px;
        }
    }
    #featured-article {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        .article {
            width: 100%;
            margin: 0;
            padding-bottom: 0;
            width: 100%;
            .article-body {
                padding: 8px;
                max-width: 900px;
                align-self: center;
            }
            .show-more {
                align-self: center;
                width: 20%;
                border-bottom: none;
            }
        }
    }
    #main-content {
        display: flex;
        position: relative;
        border-top: 1px $dark-border solid;
        border-bottom: 1px $dark-border solid;
        #article-feed {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding: 10px;
            width: 70%;
            > *:not(.article-opacity) {
                z-index: 3;
            }
            > h2 {
                align-self: center
            }
            #article-list {
                display: flex;
                flex-wrap: wrap;
            }
        }
        #article-sidebar {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 10px 0;
            padding: 10px;
            border-left: 1px $dark-border solid;
            #article-categories {
                display: flex;
                flex-direction: column;
                .article-category {
                    width: 100%;
                    height: 40px;
                    padding: 6px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px $dark-border solid;
                    &:last-child {
                        border-bottom: 1px $dark-border solid;
                    }
                    ion-icon {
                        width: 20px;
                        height: 20px;
                        color: $light-font;
                        opacity: 0.7;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    .focused {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 0 0 0;
        flex-grow: 1;
        .article-header {
            min-height: 200px;
            h2 {
                font-size: 40px;
            }
            > div {
                padding-left: 16px;
                .avatar-wrapper {
                    min-width: 80px !important;
                    max-width: 80px !important;
                    min-height: 80px !important;
                    max-height: 80px !important;
                }
            }
        }
        .article-body {
            padding: 16px;
            position: relative;
            max-width: 900px;
            align-self: center;
            h4 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
            #article-toolbar {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                transition: 0.3s;
                right: 8px;
                top: 8px;
                z-index: 5;
                padding-left: 10px;
                border-left: 1px #686868 solid;
                .post-icon {
                    width: 20px;
                    height: 20px;
                    color: #e8e8e8;
                    opacity: 0.6;
                    transition: 0.2s;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }
                .heart-container {
                    position: relative;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    width: 25px;
                    .post-heart {
                        margin-right: 0 !important;
                        transition: 0.25s;
                        width: 20px;
                        height: 20px;
                        margin: 0 !important;
                    }
                    .expanded {
                        width: 24px !important;
                        height: 24px !important;
                    }
                    .red {
                        color: red !important;
                    }
                    .heart-animation {
                        transition: margin 1.5s, transform 1.5s, opacity 1.5s;
                        opacity: 1;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        margin-bottom: 0px;
                        top: 0;
                        left: 0;
                        color: red;
                        transform: rotate(0deg);
                        margin: 0 !important;
                        padding: 0 !important;
                        z-index: 5;
                    }
                    .animated {
                        z-index: 10;
                        opacity: 0 !important;
                        margin-top: -20px !important;
                        transform: rotate(45deg) !important;
                    }
                }
            }
        }
    }
    #comments-sidebar {
        width: 100%;
        display: flex;
        #article-comments {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 65%;
            .comment {
                display: flex;
                position: relative;
                margin: 10px 0;
                padding: 8px;
                border-radius: 8px;
                .article-opacity {
                    border-radius: 8px;
                }
                p, a {
                    font-size: 14px;
                }
                p {
                    font-family: 'Open Sans';
                }
                .comment-info {
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    min-width: 50px;
                    .avatar-wrapper {
                        border-radius: 50%;
                        overflow: hidden;
                        max-width: 50px;
                        max-height: 50px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    a {
                        font-size: 13px;
                    }
                }
                #comment-toolbar {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    transition: 0.3s;
                    right: 8px;
                    top: 8px;
                    z-index: 5;
                    padding-left: 10px;
                    border-left: 1px #686868 solid;
                    .post-icon {
                        width: 20px;
                        height: 20px;
                        color: #e8e8e8;
                        opacity: 0.6;
                        transition: 0.2s;
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                        &:hover {
                            opacity: 0.9;
                            cursor: pointer;
                        }
                    }
                    .heart-container {
                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: center;
                        align-items: center;
                        height: 25px;
                        width: 25px;
                        .post-heart {
                            margin-right: 0 !important;
                            transition: 0.25s;
                            width: 20px;
                            height: 20px;
                            margin: 0 !important;
                        }
                        .expanded {
                            width: 24px !important;
                            height: 24px !important;
                        }
                        .red {
                            color: red !important;
                        }
                        .heart-animation {
                            transition: margin 1.5s, transform 1.5s, opacity 1.5s;
                            opacity: 1;
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            margin-bottom: 0px;
                            top: 0;
                            left: 0;
                            color: red;
                            transform: rotate(0deg);
                            margin: 0 !important;
                            padding: 0 !important;
                            z-index: 5;
                        }
                        .animated {
                            z-index: 10;
                            opacity: 0 !important;
                            margin-top: -20px !important;
                            transform: rotate(45deg) !important;
                        }
                    }
                }
            }
            #reply-container {
                z-index: 3;
                display: flex;
                padding: 18px;
                form {
                    display: flex;
                    width: 100%;
                    #form-user-info {
                        display: flex;
                        height: 80px;
                        min-width: 80px;
                        border-radius: 25%;
                        overflow: hidden;
                        margin-right: 20px;
                        img {
                            max-height: 80px;
                            max-width: 80px;
                        }
                    }
                    #reply-text-container {
                        display: flex;
                        flex-grow: 3;
                        flex-direction: column;
                        position: relative;
                        h3 {
                            margin: 4px 0;
                        }
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: 56px;
                            left: -7px;
                            transform: rotate(45deg);
                            background: $darker-bg;
                            border-left: 1px #686868 solid;
                            border-bottom: 1px #686868 solid;
                            z-index: 3;
                        }
                        &:focus-within:before {
                            border-color: royalblue;
                        }
                        textarea {
                            width: 100%;
                            margin: 5px 0 5px 0;
                            min-height: 150px;
                            background: $darker-bg;
                            color: #e3e3e3;
                            padding: 10px;
                            border: 1px #686868 solid;
                            font-family: 'Roboto';
                        }
                        input[type="submit"] {
                            padding: 3px 8px 3px 8px;
                            background: $lighter-bg;
                            font-family: 'Roboto';
                            margin-top: 15px;
                            font-size: 15px;
                            width: 30%;
                            max-width: 170px;
                            color: #e3e3e3;
                            border: 1px #686868 solid;
                            transition: 0.2s;
                            border-radius: 3px;
                            height: 30px;
                        }
                    }
                }
            }
            #no-login-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 3;
                padding: 10px;
                h2 {
                    margin: 0;
                }
                > p {
                    margin: 8px;
                }
                a:hover {
                    cursor: pointer;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8px;
                    border-top: 1px #686868 solid;
                    input {
                        background: $darker-bg;
                        border: 1px #686868 solid;
                        border-radius: 5px;
                        color: #e3e3e3;
                        margin: 5px;
                        padding: 8px;
                        font-family: 'Roboto';
                        font-size: 18px;
                    }
                    input[type="submit"] {
                        width: 40%;
                        padding: 4px 6px 4px 6px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                register-btn {
                    font-size: 12px;
                    text-decoration: underline;
                }
            }
        }
        #comment-sidebar {
            width: 35%;
            padding: 8px;
            display: flex;
            flex-direction: column;
            border-top: 1px $dark-border solid;
            #related-articles {
                width: 100%;
                display: flex;
                flex-direction: column;
                .article {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
}
.mce-edit-area {
    position: relative !important;
    &:before {
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        top: 6px;
        left: -9px;
        transform: rotate(45deg);
        background: $lighter-bg;
        border-left: 1px #686868 solid;
        border-bottom: 1px #686868 solid;
        z-index: 3;
    }
}