

.article {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 0 10px;
    margin-bottom: 20px;
    width: 50%;
    height: 300px;
    .article-info {
        display: flex;
        justify-content: space-between;
        p {
            font-size: 12px;
            opacity: 0.9;
            margin: 1px;
        }
        > div {
            display: flex;
            flex-direction: column;
        }
    }
    .article-header {
        width: 100%;
        min-height: 100px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        &:not(.focused-featured):hover > a img {
            transform: scale(1.1);
        }
        > a {
            width: 100%;
            height: 500px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            transform: translate(0, -50%);
            &:last-of-type {
                z-index: 2;
            }
            > img {
                width: 100%;
                filter: blur(4px) brightness(0.5);
                z-index: -1;
                transition: transform .7s;
            }
        }
        h2 {
            margin: 0;
            padding: 8px 50px;
            text-align: center;
            max-width: 750px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        > div {
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: flex-end;
            max-width: 900px;
            width: 100%;
            p {
                opacity: 0.8;
                margin: 0;
                z-index: 2;
            }
            > div {
                display: flex;
                flex-direction: column;
                padding-left: 6px;
                .avatar-wrapper {
                    z-index: 2;
                    border-radius: 50%;
                    overflow: hidden;
                    min-width: 40px;
                    max-width: 40px;
                    min-height: 40px;
                    max-height: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                p a, > p {
                    transition: 0.2s;
                    &:hover {
                        color: white;
                    }
                }
            }
            .article-score {
                position: absolute;
                right: 6px;
                bottom: 0;
            }
        }
    }
    .article-body {
        min-height: 50px;
        overflow: hidden;
        flex-grow: 1;
        ol, ul {
            color: var(--light-font);
            font-family: 'Open Sans';
           li {
                color: var(--light-font);
                font-family: 'Open Sans';
           } 
        }
    }
    .show-more {
        width: 100%;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px var(--dark-border) solid;
        border-bottom: 1px var(--dark-border) solid;
        transition: 0.2;
        .article-link-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 35px;
            transition: 0.3s;
            position: relative;
            padding: 0 10px 0 10px;
            &:hover {
                width: 180px;
                .icon {
                    opacity: 0.9;
                    transform: rotate(180deg)
                }
                a, p {
                   margin-left: 0; 
                }
            }
            .icon {
                position: absolute;
                right: 0;
                color: var(--light-font);
                width: 30px;
                height: 30px;
                opacity: 0.7;
                transition: 0.3s;
            }
            a, p {
                white-space: nowrap;
                transition: 0.3s;
                margin-left: -150px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    h4, p {
        font-family: 'Open Sans';
    }
    h2, h4 {
        align-self: center;
    }
    h4 {
        margin: 5px 0;
    }
    p {
        font-size: 13px;
    }
}


#articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
        z-index: 3;
    }
    .article-opacity {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--darker-bg);
        opacity: 0.4;
        z-index: -1;
    }
    #featured-article {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        .article {
            width: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            .article-header {
                min-height: 150px;
                h2 {
                    font-size: 24px;
                    white-space: normal;
                }
            }
            .article-body {
                padding: 8px;
                max-width: 900px;
                align-self: center;
            }
            .show-more {
                align-self: center;
                width: 20%;
                border-bottom: none;
            }
        }
    }
    #main-content {
        display: flex;
        position: relative;
        border-top: 1px var(--dark-border) solid;
        border-bottom: 1px var(--dark-border) solid;
        width: 100%;
        #article-feed {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding: 10px;
            width: 70%;
            > *:not(.article-opacity) {
                z-index: 3;
            }
            > h2 {
                align-self: center
            }
            #article-list {
                display: flex;
                flex-wrap: wrap;
            }
        }
        #article-sidebar {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 10px 0;
            padding: 10px;
            border-left: 1px var(--dark-border) solid;
            #article-submit {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 12px;
                    position: relative;
                    background: var(--lighter-bg);
                    border: 1px var(--dark-border) solid;
                    font-size: 18px;
                    transition: 0.2s;
                    border-radius: 4px;
                    &:hover {
                        border: 1px var(--light-font) solid;
                    }
                    .icon {
                        position: absolute;
                        right: 8px;
                        width: 25px;
                        height: 25px;
                        color: var(--light-font);
                    }
                }
            }
            #article-categories {
                display: flex;
                flex-direction: column;
                .article-category {
                    width: 100%;
                    height: 40px;
                    padding: 6px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px var(--dark-border) solid;
                    &:last-of-type {
                        border-bottom: 1px var(--dark-border) solid;
                    }
                    .icon {
                        width: 20px;
                        height: 20px;
                        color: var(--light-font);
                        opacity: 0.7;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    .focused {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        .article-header {
            min-height: 200px;
            h2 {
                font-size: 40px;
                white-space: normal;
            }
            > div {
                padding-left: 16px;
                .avatar-wrapper {
                    min-width: 80px !important;
                    max-width: 80px !important;
                    min-height: 80px !important;
                    max-height: 80px !important;
                }
            }
        }
        .article-body {
            padding: 16px;
            position: relative;
            width: 100%;
            max-width: 900px;
            align-self: center;
            h4 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
            #article-toolbar {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                transition: 0.3s;
                right: 8px;
                top: 8px;
                z-index: 5;
                padding-left: 10px;
                border-left: 1px #686868 solid;
                .post-icon {
                    width: 20px;
                    height: 20px;
                    color: #e8e8e8;
                    opacity: 0.6;
                    transition: 0.2s;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }
                .green {
                    color: #20de0d;
                }
                .heart-container {
                    position: relative;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    width: 25px;
                    .post-heart, .comment-heart {
                        margin-right: 0 !important;
                        transition: 0.25s;
                        width: 20px;
                        height: 20px;
                        margin: 0 !important;
                    }
                    .expanded {
                        width: 24px !important;
                        height: 24px !important;
                    }
                    .red {
                        color: red !important;
                    }
                    .heart-animation {
                        transition: margin 1.5s, transform 1.5s, opacity 1.5s;
                        opacity: 1;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        margin-bottom: 0px;
                        top: 0;
                        left: 0;
                        color: red;
                        transform: rotate(0deg);
                        margin: 0 !important;
                        padding: 0 !important;
                        z-index: 5;
                    }
                    .animated {
                        z-index: 10;
                        opacity: 0 !important;
                        margin-top: -20px !important;
                        transform: rotate(45deg) !important;
                    }
                }
            }
        }
    }
    #comments-sidebar {
        width: 100%;
        display: flex;
        #article-comments {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 65%;
            .comment {
                display: flex;
                position: relative;
                margin: 10px 0;
                padding: 8px;
                border-radius: 8px;
                border: 1px var(--dark-border) solid;
                max-height: 500px;
                overflow: auto;
                .article-opacity {
                    border-radius: 8px;
                }
                p, a {
                    font-size: 14px;
                }
                .comment-date-score {
                    position: absolute;
                    right: 0;
                    bottom: 2px;
                    display: flex;
                    p {
                        font-size: 12px;
                        padding: 2px 4px;
                        margin: 0;
                    }
                    .comment-date {
                        border-right: 1px var(--dark-border) solid;
                        opacity: 0.8;
                    }
                }
                .comment-info {
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    min-width: 50px;
                    .avatar-wrapper {
                        border-radius: 50%;
                        overflow: hidden;
                        max-width: 50px;
                        max-height: 50px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    a {
                        font-size: 13px;
                    }
                }
                .comment-body {
                    margin-bottom: 12px;
                }
                #comment-toolbar {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    transition: 0.3s;
                    right: 8px;
                    top: 8px;
                    z-index: 2;
                    padding-left: 10px;
                    border-left: 1px #686868 solid;
                    .post-icon {
                        width: 20px;
                        height: 20px;
                        color: #e8e8e8;
                        opacity: 0.6;
                        transition: 0.2s;
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                        &:hover {
                            opacity: 0.9;
                            cursor: pointer;
                        }
                    }
                    .heart-container {
                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: center;
                        align-items: center;
                        height: 25px;
                        width: 25px;
                        .post-heart {
                            margin-right: 0 !important;
                            transition: 0.25s;
                            width: 20px;
                            height: 20px;
                            margin: 0 !important;
                        }
                        .expanded {
                            width: 24px !important;
                            height: 24px !important;
                        }
                        .red {
                            color: red !important;
                        }
                        .heart-animation {
                            transition: margin 1.5s, transform 1.5s, opacity 1.5s;
                            opacity: 1;
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            margin-bottom: 0px;
                            top: 0;
                            left: 0;
                            color: red;
                            transform: rotate(0deg);
                            margin: 0 !important;
                            padding: 0 !important;
                            z-index: 5;
                        }
                        .animated {
                            z-index: 10;
                            opacity: 0 !important;
                            margin-top: -20px !important;
                            transform: rotate(45deg) !important;
                        }
                    }
                }
            }
            #reply-container {
                z-index: 3;
                display: flex;
                padding: 18px;
                form {
                    display: flex;
                    width: 100%;
                    #form-user-info {
                        display: flex;
                        height: 80px;
                        min-width: 80px;
                        border-radius: 25%;
                        overflow: hidden;
                        margin-right: 20px;
                        img {
                            max-height: 80px;
                            max-width: 80px;
                        }
                    }
                    #reply-text-container {
                        display: flex;
                        flex-grow: 3;
                        flex-direction: column;
                        position: relative;
                        max-width: calc(100% - 100px);
                        h3 {
                            margin: 4px 0;
                        }
                        input[type="submit"] {
                            padding: 8px 15px;
                            background: var(--lighter-bg);
                            margin-top: 15px;
                            font-size: 20px;
                            width: 100%;
                            max-width: 190px;
                            color: #e3e3e3;
                            border: 1px #686868 solid;
                            transition: 0.2s;
                            border-radius: 3px;
                            height: 40px;
                        }
                    }
                }
            }
            #no-login-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 3;
                padding: 10px;
                h2 {
                    margin: 0;
                }
                > p {
                    margin: 8px;
                }
                a:hover {
                    cursor: pointer;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8px;
                    border-top: 1px #686868 solid;
                    input {
                        background: var(--darker-bg);
                        border: 1px #686868 solid;
                        border-radius: 5px;
                        color: #e3e3e3;
                        margin: 5px;
                        padding: 8px;
                        font-size: 18px;
                    }
                    input[type="submit"] {
                        width: 40%;
                        padding: 4px 6px 4px 6px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .register-btn {
                    font-size: 12px;
                    text-decoration: underline;
                }
            }
        }
        #comment-sidebar {
            width: 35%;
            padding: 8px;
            display: flex;
            flex-direction: column;
            border-top: 1px var(--dark-border) solid;
            #related-articles {
                width: 100%;
                display: flex;
                flex-direction: column;
                .article {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
    .avatar-wrapper {
        transition: 0.4s !important;
        &:hover {
            border-radius: 30% !important;
        }
    }
}

#article-create-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    #article-form {
        display: flex;
        width: 70vw;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-bottom: 1px #8c8c8c solid;
        padding: 15px;
        input, textarea, select {
            background: var(--darker-bg);
            font-size: 18px;
            padding: 7px;
            border: 1px var(--light-border) solid;
            color: var(--dark-font);
            width: 100%;
            max-width: 250px;
            border-radius: 4px;
        }
        select {
            height: 35px;
            padding: 0;
        }
        .article-header, .article-body {
            max-width: 900px;
            width: 100%;
        }
        .article-header {
            display: flex;
            justify-content: center;
            align-items: center
        }
        .article-body {
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-top: 1px #686868 solid;
            border-bottom: 1px #686868 solid;
            p {
                font-size: 20px;
                margin: 5px;
            }
            #article-submit-btn {
                background: var(--lighter-bg);
                width: 30%;
                align-self: center;
                border-radius: 4px;
                margin-top: 15px;
            }
            .article-info-container {
                display: flex;
                padding: 8px;
                > div {
                    margin-right: 5%;
                    flex-basis: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                #featured-container {
                    flex-direction: row;
                    align-items: center;
                    max-width: 120px;
                    input {
                        width: auto;
                    }
                }
                #banner-image-container {
                    flex-direction: row;
                    align-items: center;
                    flex-grow: 1;
                    #article-banner {
                        opacity: 0;
                        max-width: 0;
                        max-height: 0;
                        z-index: -10;
                        padding: 0;
                        margin: 0;
                        border: none;
                    }
                }
                .icon {
                    width: 40px;
                    height: 40px;
                    color: var(--light-font);
                    opacity: 0.7;
                    transition: 0.3s;
                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }
            }
            > input[type="text"] {
                width: 100%;
                background: var(--lighter-bg);
                padding: 8px;
                min-width: 100%;
                height: auto;
                border-radius: 0;
                border-left: 1px ;
                &:focus {
                    border: none !important;
                }
            }
            #title-subtitle {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-top: 1px var(--light-border) solid;
                border-left: 1px var(--light-border) solid;
                border-right: 1px var(--light-border) solid;
                overflow: hidden;
                input[type="text"] {
                    border: none;
                    border-radius: 0;
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    height: auto;
                }
                #article-title {
                    font-size: 40px;
                    &:focus {
                        border: none !important;
                    }
                }
                #article-subtitle {
                    font-size: 30px;
                    border-top: 1px var(--dark-border) solid;
                    &:focus {
                        border: none !important;
                        border-top: 1px var(--dark-border) solid !important;
                    }
                }
            }
            .editor-toolbar {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-left: 1px var(--light-border) solid;
                border-right: 1px var(--light-border) solid;
                &::before {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}