.delete-modal {
    .delete-confirm-btn {
        padding: 5px 10px 5px 10px;
        font-size: 18px;
        background: $lighter-bg;
        border: 1px #e3e3e3 solid;
        border-radius: 5px;
        transition: 0.2s;
        margin-bottom: 15px;
        &:hover {
            background: red;
            border: 1px white solid;
            cursor: pointer;
            
        }
    }
}

#post-list {
    .page-container {
        a:hover {
            color: white;
        }
    }
    .top {
        border-bottom: none !important;
    }
    > ul {
        > li {
            padding: 0 !important;
            flex-direction: column;
            border-top: 1px #8c8c8c solid;
            &:last-of-type {
                border-bottom: 1px #8c8c8c solid !important;
            }
            > div {
                padding: 18px;
            }
            .post-body {
                display: flex;
                align-items: stretch;
                width: 100%;
                margin: 0 !important;
                .user-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 150px;
                    max-width: 150px;
                    padding-right: 20px;
                    .user-badges {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 8px;
                        width: 90%;
                        margin: 5px 0 15px 0;
                        .badge p {
                            font-size: 11px !important;
                            padding: 1px !important;
                        }
                        .badge {
                            border-radius: 2px;
                            margin-left: 4px;
                            margin-top: 2px;
                        }
                        .admin {
                            border: 1px red solid;
                            p {
                                color: red;
                            }
                        }
                        .vip {
                            border: 1px royalblue solid;
                            p {
                                color: royalblue;
                            }
                        }
                        .honorary {
                            border: 1px yellow solid;
                            p {
                                color: yellow;
                            }
                        }
                        .funk_master {
                            border: 1px green solid;
                            p {
                                color: green;
                            }
                        }
                        .oldie {
                            border: 1px purple solid;
                            p {
                                color: purple;
                            }
                        }
                    }
                    .avatar-wrapper {
                        border-radius: 50%;
                        overflow: hidden;
                        max-width: 100px;
                        max-height: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p {
                        padding: 4px;
                        opacity: 0.9;
                        text-align: center;
                    }
                    .user-account-type {
                        border-bottom: 1px #686868 solid;
                    }
                }
                .text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 3;
                    position: relative;
                    .user-signature {
                        flex-shrink: 1;
                        border-top: 1px #686868 solid;
                        max-height: 120px;
                        padding: 20px 10px 0 10px;
                    }
                    .header-icons {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        transition: 0.3s;
                        right: 0;
                        top: 0;
                        z-index: 5;
                        padding-left: 8px;
                        border-left: 1px #686868 solid;
                        .post-icon {
                            width: 20px;
                            height: 20px;
                            color: #e8e8e8;
                            opacity: 0.6;
                            transition: 0.2s;
                            margin-right: 10px;
                            &:hover {
                                opacity: 0.9;
                                cursor: pointer;
                            }
                        }
                        .heart-container {
                            position: relative;
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: center;
                            align-items: center;
                            height: 25px;
                            width: 25px;
                            .post-heart {
                                margin-right: 0 !important;
                                transition: 0.25s;
                                width: 20px;
                                height: 20px;
                                margin: 0 !important;
                            }
                            .expanded {
                                width: 24px !important;
                                height: 24px !important;
                            }
                            .red {
                                color: red !important;
                            }
                            .heart-animation {
                                transition: margin 1.5s, transform 1.5s, opacity 1.5s;
                                opacity: 1;
                                position: absolute;
                                width: 22px;
                                height: 22px;
                                margin-bottom: 0px;
                                top: 0;
                                left: 0;
                                color: red;
                                transform: rotate(0deg);
                                margin: 0 !important;
                                padding: 0 !important;
                            }
                            .animated {
                                z-index: 10;
                                opacity: 0 !important;
                                margin-top: -20px !important;
                                transform: rotate(45deg) !important;
                            }
                        }
                    }
                    .padded {
                        top: 8px;
                        right: 8px;
                    }
                    .padded-right {
                        padding-right: 120px;
                        width: 100%;
                    }
                    .post-text {
                        position: relative;
                        display: flex;
                        margin-bottom: 10px;
                        flex-grow: 1;
                        .edit-post {
                            background: rgba(0, 0, 0, 0);
                            width: 100%;
                            padding: 0;
                            border: 1px solid transparent;
                            resize: none;
                            color: #e3e3e3;
                            border-radius: 4px;
                            font-family: 'Roboto';
                            font-size: 14px;
                            transition: background 0.3s, padding 0.3s;
                            &:focus {
                                border: none !important;
                            }
                        }
                        .active {
                            background: rgba(23, 23, 23, 1);
                            border: 1px #686868 solid;
                            padding: 10px;
                            padding-right: 110px;
                            height: 100%;
                            &:focus {
                                border: 1px royalblue solid !important;
                            }
                        }
                        input {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            padding: 8px;
                            color: #e3e3e3;
                            font-size: 18px;
                            font-family: 'Roboto';
                            border: 1px #686868 solid;
                            border-radius: 5px;
                            opacity: 1;
                            transition: opacity 0.3s;
                        }
                        .transparent {
                            height: 0;
                            width: 0;
                            padding: 0;
                            margin: 0;
                            opacity: 0;
                        }
                    }
                }
                .index-date {
                    display: flex;
                    align-items: center;
                    align-self: flex-end;
                    justify-content: space-between;
                    .post-date {
                        opacity: 0.7;
                        margin: 8px !important;
                    }
                }
            }
        }
        #reply-container {
            z-index: 3;
            display: flex;
            padding: 18px;
            form {
                display: flex;
                width: 100%;
                #form-user-info {
                    display: flex;
                    height: 80px;
                    width: 80px;
                    border-radius: 25%;
                    overflow: hidden;
                    margin-right: 20px;
                    img {
                        max-height: 80px;
                        max-width: 80px;
                    }
                }
                #reply-text-container {
                    display: flex;
                    flex-grow: 3;
                    flex-direction: column;
                    position: relative;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 57px;
                        left: -8px;
                        transform: rotate(45deg);
                        background: $darker-bg;
                        border-left: 1px #686868 solid;
                        border-bottom: 1px #686868 solid;
                        z-index: 3;
                    }
                    &:focus-within:before {
                        border-left: 1px royalblue solid;
                        border-bottom: 1px royalblue solid;
                    }
                    textarea {
                        width: 100%;
                        margin: 25px 0 15px 0;
                        min-height: 150px;
                        background: $darker-bg;
                        color: #e3e3e3;
                        padding: 10px;
                        border: 1px #686868 solid;
                        font-family: 'Roboto';
                    }
                    input[type="submit"] {
                        padding: 5px 10px 5px 10px;
                        background: $lighter-bg;
                        font-family: 'Roboto';
                        font-size: 20px;
                        max-width: 20%;
                        color: #e3e3e3;
                        border: 1px #686868 solid;
                        transition: 0.2s;
                        border-radius: 3px;
                    }
                }
            }
        }
        #no-login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 3;
            padding: 20px;
            h2 {
                margin-bottom: 0;
            }
            > p {
                margin: 8px;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                border-top: 1px #686868 solid;
                input {
                    background: $darker-bg;
                    border: 1px #686868 solid;
                    border-radius: 5px;
                    color: #e3e3e3;
                    margin: 5px;
                    padding: 8px;
                    font-family: 'Roboto';
                    font-size: 18px;
                }
                input[type="submit"] {
                    width: 40%;
                    padding: 4px 6px 4px 6px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            register-btn {
                font-size: 12px;
                text-decoration: underline;
            }
        }
    }
    .post-divider-vertical {
        width: 0;
        height: 80px;
        border-left: 1px #686868 solid;
        margin: 15px;
    }
}

#thread-form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px;
    border-top: 1px #8c8c8c solid;
    border-bottom: 1px #8c8c8c solid;
    padding: 15px;
    input, textarea {
        background: $darker-bg;
        font-family: 'Roboto';
        font-size: 18px;
        padding: 7px;
        border: 1px #686868 solid;
        color: #e3e3e3;
    }
    .thread-header {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .thread-body {
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-top: 1px #686868 solid;
        border-bottom: 1px #686868 solid;
        p {
            font-size: 20px;
            margin-bottom: 5px;
        }
        #thread-title {
            border-radius: 4px;
            width: 40%;
        }
        textarea {
            width: 40vw;
            height: 50vh;
            margin-bottom: 25px;
        }
        #thread-submit-btn {
            background: $lighter-bg;
            width: 30%;
            align-self: center;
            border-radius: 4px;
        }
    }
    .thread-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}