

.delete-modal {
    p {
        padding: 0 8px;
    }
    .delete-confirm-btn {
        padding: 5px 10px 5px 10px;
        font-size: 18px;
        background: var(--lighter-bg);
        border: 1px #e3e3e3 solid;
        border-radius: 5px;
        transition: 0.2s;
        margin-bottom: 15px;
        align-self: center;
        &:hover {
            background: red;
            border: 1px white solid;
            cursor: pointer;
        }
    }
}

#board-container {
    position: relative;
    .post-bell, .thread-pin {
        color: var(--light-font);
        opacity: 0.8;
        transition: 0.3s;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 65px;
        z-index: 5;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .thread-pin {
        right: 65px;
    }
    .green {
        color: #20de0d;
    }
}

#post-list {
    .page-container {
        a:hover {
            color: white;
        }
    }
    .top {
        border-bottom: none !important;
    }
    > ul {
        > li {
            padding: 0 !important;
            flex-direction: column;
            border-top: 1px #8c8c8c solid;
            &:last-of-type {
                border-bottom: 1px #8c8c8c solid !important;
            }
            > div {
                padding: 18px;
            }
            .post-body {
                display: flex;
                align-items: stretch;
                width: 100%;
                margin: 0 !important;
                .user-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 150px;
                    max-width: 150px;
                    padding-right: 20px;
                    .user-badges {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 8px;
                        width: 90%;
                        margin: 5px 0 15px 0;
                        .badge p {
                            font-size: 11px !important;
                            padding: 1px !important;
                        }
                        .badge {
                            border-radius: 2px;
                            margin-left: 4px;
                            margin-top: 2px;
                        }
                        .admin {
                            border: 1px red solid;
                            p {
                                color: red;
                            }
                        }
                        .vip {
                            border: 1px royalblue solid;
                            p {
                                color: royalblue;
                            }
                        }
                        .honorary {
                            border: 1px yellow solid;
                            p {
                                color: yellow;
                            }
                        }
                        .funk_master {
                            border: 1px green solid;
                            p {
                                color: green;
                            }
                        }
                        .oldie {
                            border: 1px purple solid;
                            p {
                                color: purple;
                            }
                        }
                    }
                    .avatar-wrapper {
                        border-radius: 50%;
                        overflow: hidden;
                        max-width: 100px;
                        max-height: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p {
                        padding: 4px;
                        opacity: 0.9;
                        text-align: center;
                    }
                    .user-account-type {
                        border-bottom: 1px #686868 solid;
                    }
                }
                .text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 3;
                    position: relative;
                    max-width: calc(100% - 150px);
                    img {
                        max-width: 100%;
                        max-height: 1000px;
                    }
                    .user-signature {
                        flex-shrink: 1;
                        border-top: 1px #686868 solid;
                        max-height: 120px;
                        padding: 20px 10px 0 10px;
                    }
                    .body-icon-container {
                        display: flex;
                        flex-grow: 1;
                        .header-icons {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            transition: 0.3s;
                            max-height: 25px;
                            margin-left: 4px;
                            z-index: 5;
                            padding-left: 10px;
                            border-left: 1px #686868 solid;
                            .post-icon {
                                width: 20px;
                                height: 20px;
                                color: #e8e8e8;
                                opacity: 0.6;
                                transition: 0.2s;
                                &:not(:last-child) {
                                    margin-right: 10px;
                                }
                                &:hover {
                                    opacity: 0.9;
                                    cursor: pointer;
                                }
                            }
                            .heart-container {
                                position: relative;
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: center;
                                align-items: center;
                                height: 25px;
                                width: 25px;
                                .post-heart {
                                    margin-right: 0 !important;
                                    transition: 0.25s;
                                    width: 20px;
                                    height: 20px;
                                    margin: 0 !important;
                                }
                                .expanded {
                                    width: 24px !important;
                                    height: 24px !important;
                                }
                                .red {
                                    color: red !important;
                                }
                                .heart-animation {
                                    transition: margin 1.5s, transform 1.5s, opacity 1.5s;
                                    opacity: 1;
                                    position: absolute;
                                    width: 22px;
                                    height: 22px;
                                    margin-bottom: 0px;
                                    top: 0;
                                    left: 0;
                                    color: red;
                                    transform: rotate(0deg);
                                    margin: 0 !important;
                                    padding: 0 !important;
                                }
                                .animated {
                                    z-index: 10;
                                    opacity: 0 !important;
                                    margin-top: -20px !important;
                                    transform: rotate(45deg) !important;
                                }
                            }
                        }
                        .post-text {
                            margin-bottom: 10px;
                            flex-grow: 1;
                            p, a, h1, h2, h3, h4, i, em, b {
                                color: #e8e8e8;
                            }
                        }
                    }
                }
                .index-date {
                    display: flex;
                    align-items: center;
                    align-self: flex-end;
                    justify-content: space-between;
                    .post-date {
                        opacity: 0.7;
                        margin: 8px !important;
                    }
                }
            }
        }
        #reply-container {
            z-index: 3;
            display: flex;
            form {
                display: flex;
                width: 100%;
                padding: 18px;
                #form-user-info {
                    display: flex;
                    max-height: 80px;
                    min-height: 80px;
                    max-width: 80px;
                    min-width: 80px;
                    border-radius: 25%;
                    overflow: hidden;
                    margin-right: 20px;
                    img {
                        max-height: 80px;
                        min-height: 80px;
                        max-width: 80px;
                        min-width: 80px;
                    }
                }
                #reply-text-container {
                    max-width: calc(100% - 100px);
                    display: flex;
                    flex-grow: 3;
                    flex-direction: column;
                    h3 {
                        margin-bottom: 15px;
                    }
                    textarea {
                        width: 100%;
                        margin: 25px 0 15px 0;
                        min-height: 150px;
                        background: var(--darker-bg);
                        color: #e3e3e3;
                        padding: 10px;
                        border: 1px #686868 solid;
                        font-family: 'Roboto';
                    }
                    input[type="submit"] {
                        padding: 5px 10px 5px 10px;
                        background: var(--lighter-bg);
                        margin-top: 15px;
                        font-size: 20px;
                        min-width: 135px;
                        max-width: 20%;
                        color: #e3e3e3;
                        border: 1px #686868 solid;
                        transition: 0.2s;
                        border-radius: 3px;
                    }
                }
            }
        }
        #no-login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 3;
            padding: 20px;
            h2 {
                margin-bottom: 0;
            }
            > p {
                margin: 8px;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                border-top: 1px #686868 solid;
                input {
                    background: var(--darker-bg);
                    border: 1px #686868 solid;
                    border-radius: 5px;
                    color: #e3e3e3;
                    margin: 5px;
                    padding: 8px;
                    font-size: 18px;
                }
                input[type="submit"] {
                    width: 40%;
                    padding: 4px 6px 4px 6px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            register-btn {
                font-size: 12px;
                text-decoration: underline;
            }
        }
    }
    .post-divider-vertical {
        width: 0;
        height: 80px;
        border-left: 1px #686868 solid;
        margin: 15px;
    }
}

#thread-create-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    #thread-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 15px;
        input, textarea, select {
            background: var(--darker-bg);
            font-size: 18px;
            padding: 7px;
            border: 1px var(--light-border) solid;
            color: var(--dark-font);
            width: 100%;
            max-width: 250px;
            border-radius: 4px;
        }
        select {
            height: 35px;
            padding: 0;
        }
        .thread-header, .thread-body {
            max-width: 900px;
            width: 100%;
        }
        .thread-header {
            display: flex;
            justify-content: center;
            align-items: center
        }
        .thread-body {
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-top: 1px #686868 solid;
            border-bottom: 1px #686868 solid;
            p {
                font-size: 20px;
                margin-bottom: 5px;
            }
            textarea {
                width: 40vw;
                height: 50vh;
                margin-bottom: 25px;
            }
            #thread-submit-btn {
                background: var(--lighter-bg);
                width: 30%;
                align-self: center;
                border-radius: 4px;
                margin-top: 15px;
            }
            .thread-info-container {
                display: flex;
                > div {
                    margin-right: 5%;
                    flex-basis: 250px;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                }
            }
            > input[type="text"] {
                width: 100%;
                background: var(--lighter-bg);
                padding: 8px;
                min-width: 100%;
                height: auto;
                border-radius: 0;
                border-left: 1px ;
                &:focus {
                    border: none !important;
                }
            }
            #title-subtitle {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-top: 1px var(--light-border) solid;
                border-left: 1px var(--light-border) solid;
                border-right: 1px var(--light-border) solid;
                overflow: hidden;
                input[type="text"] {
                    border: none;
                    border-radius: 0;
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    height: auto;
                }
                #thread-title {
                    font-size: 40px;
                    &:focus {
                        border: none !important;
                    }
                }
                #thread-subtitle {
                    font-size: 30px;
                    border-top: 1px var(--dark-border) solid;
                    &:focus {
                        border: none !important;
                        border-top: 1px var(--dark-border) solid !important;
                    }
                }
            }
            .editor-toolbar {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-left: 1px var(--light-border) solid;
                border-right: 1px var(--light-border) solid;
                &::before {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
            #pinned-container {
                display: flex;
                flex-direction: row;
                max-width: 120px;
                align-items: center;
                input {
                    max-width: 20px;
                }
                p {
                    margin: 8px;
                }
            }
        }
    }
}