

#forum-opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background: var(--darker-bg);
}

#board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    > * {
        z-index: 3;
    }
    #title {
        margin-bottom: 0;
        padding: 10px 30px 10px 30px;
        border-bottom: 1px #8c8c8c solid;
        text-align: center;
    }
    .page-container {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        position: relative;
        align-self: center;
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            padding: 6px;
            transition: 0.1s;
            &:hover {
                opacity: 1 !important;
            }
        }
        #post-thread-btn {
            display: flex;
            align-items: stretch;
            justify-content: center;
            position: absolute;
            transition: 0.1s;
            left: 0;
            bottom: 0;
            width: 150px;
            border-top: 1px var(--dark-border) solid;
            border-bottom: 1px var(--dark-border) solid;
            &:hover {
                background: var(--lighter-bg);
            }
        }
        .icon {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
        }
        .underline {
            text-decoration: underline;
        }
        .inactive {
            opacity: 0.6;
        }
        ion-icon {
            color: #e8e8e8;
            opacity: 0.7;
            font-size: 20px;
            padding: 4px;
            transition: 0.1s;
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
    #board-list, #post-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        h3 {
            margin: 0;
            font-size: 16px;
        }
        p {
            font-size: 14px;
            margin: 0;
        }
        a {
            transition: 0.1s;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
        > ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            > li {
                display: flex;
                position: relative;
                align-items: center;
                padding: 15px;
                padding-left: 8px;
                width: 100%;
                z-index: 3;
                a > ion-icon {
                    width: 40px;
                    height: 40px;
                    color: #e3e3e3;
                    transition: 0.1s;
                    margin-right: 5px;
                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
                .pin-icon {
                    width: 25px;
                    height: 25px;
                    color: #10ad00;
                    &:hover {
                        color: #10ad00;
                        cursor: auto;
                    }
                }
                .board-title-container {
                    margin-left: 2px;
                    display: flex;
                    max-width: 40%;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 5;
                    .author {
                        font-size: 14px;
                        opacity: 0.6;
                    }
                }
                > .activity {
                    display: flex;
                    position: absolute;
                    right: 8px;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: right;
                    p:last-child {
                        opacity: 0.7;
                        transition: 0.2s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .forum-margin {
        margin-top: 30px;
    }
    .divider {
        height: 0;
        width: 80%;
        border-top: 1px #686868 solid;
        margin: 25px 0 25px 0;
        align-self: center;
    }
}