

.card-opacity {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--darker-bg);
    opacity: 0.6;
    z-index: -1;
    transition: opacity 0.2s;
}

#feed {
    display: flex;
    width: calc(60% - 15px);
    flex-direction: column;
    padding: 20px;
    .post-card {
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: 4px 4px 10px 0 var(--shadow);
        border-radius: 12px;
        margin-bottom: 15px;
        &:hover {
            .card-opacity {
                opacity: 0.8;
            }
        }
        .card-opacity {
            border-radius: 12px;
        }
        .post-score {
            position: absolute;
            right: 5px;
            top: 5px;
            margin: 0;
            font-size: 14px;
        }
        h4 {
            color: var(--light-font);
            margin: 5px 0 2px 10px;
            font-size: 13px;
            opacity: 0.9;
            transition: 0.1s;
            &:hover {
                opacity: 1;
            }
        }
        .post-container {
            display: flex;
            padding: 0 !important;
            > div {
                padding: 8px;
            }
            .user-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 80px;
                max-width: 80px;
                padding-right: 5px;
                .avatar-wrapper {
                    border-radius: 20%;
                    overflow: hidden;
                    max-width: 40px;
                    max-height: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 3;
                position: relative;
                width: calc(100% - 80px);
                .post-text {
                    position: relative;
                    display: flex;
                    flex-grow: 1;
                    font-size: 15px;
                    > p {
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .article {
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        padding: 0;
        overflow: hidden;
        > h4 {
            align-self: flex-start;
            margin: 5px;
        }
        .article-body {
            padding: 4px;
        }
        .article-header {
            &:not(.focused-featured):hover > p img {
                transform: scale(1.1);
            }
            > .header-positioner {
                width: 100%;
                height: 500px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 50%;
                transform: translate(0, -50%);
                &:last-of-type {
                    z-index: 2;
                }
                > img {
                    width: 100%;
                    filter: blur(4px) brightness(0.5);
                    z-index: -1;
                    transition: transform .7s;
                }
            }
        }
    }
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, h3, #announcements, #content {
        z-index: 3;
    }
    .home-divider {
        margin: 30px;
        width: 10%;
        border-top: 1px var(--light-border) solid;
        z-index: 5;
    }
    #welcome {
        display: flex;
        flex-direction: column;
        width: 100%;
        #welcome-splash {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            #welcome-banner {
                overflow: hidden;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;
                height: 250px;
                border-bottom: 1px var(--dark-border) solid;
                img {
                    &::after {
                        content: '';
                        display: block;
                        padding-bottom: 100%;
                    }
                    width: 100%;
                    filter: blur(4px) brightness(0.5);
                    transform: translate(0, -40%);
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
                > div {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    h2 {
                        font-size: 50px;
                        margin: 8px 0;
                    }
                    h3 {
                        font-size: 22px;
                        margin: 4px 0;
                    }
                }
            }
        }
    }
    #activity {
        margin: 0 0 8px 0;
    }
    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        #right-panel {
            display: flex;
            flex-direction: column;
            min-width: 40%;
            max-width: 40%;
            position: relative;
            padding: 10px;
            border-left: 1px var(--light-border) solid;
            .panel-divider {
                width: 10% !important;
                align-self: center;
                margin: 5px 0;
                padding: 0;
                border-top: 1px var(--dark-border) solid;
                height: 0;
            }
            .right-panel-module {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 4px;
                border-bottom: 1px var(--light-border) solid;
                h3 {
                    margin: 10px 0;
                }
            }
            #announcements {
                .announcement-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px var(--dark-border) solid;
                    > h3, > p {
                        margin: 4px 0;
                    }
                    > p {
                        font-size: 14px;
                    }
                    > div {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 13px;
                        a, p {
                            margin: 0;
                        }
                        a {
                            transition: 0.1s;
                            &:hover {
                                color: white;
                            }
                        }
                        p {
                            opacity: 0.8;
                        }
                    }
                }
                #announcement-btn {
                    padding: 8px 15px;
                    margin: 10px 0;
                    background: var(--lighter-bg);
                    font-size: 18px;
                    border: 1px var(--dark-border) solid;
                    border-radius: 4px;
                    transition: 0.2s;
                    &:hover {
                        border: 1px var(--light-border) solid;
                        cursor: pointer;
                    }
                }
            }
            #recent-albums {
                .album-container {
                    width: 100%;
                    display: flex;
                    padding: 10px;
                    align-items: stretch;
                    justify-content: space-between;
                    &:not(:first-of-type) {
                        border-top: 1px var(--dark-border) solid;
                    }
                    img {
                        max-width: 80px;
                        max-height: 80px;
                        margin-right: 10px;
                    }
                    .album-info {
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        flex-direction: column;
                        p {
                            margin: 0;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
