

#panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
    margin-bottom: 40px;
    > h2 {
        z-index: 3;
        margin: 0;
        padding: 15px;
        border-bottom: 1px #8c8c8c solid;
    }
    > div {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    #main-opacity {
        width: 100vw;
    }
}

.list-box {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    background: var(--lighter-bg);
    position: relative;
    border: 1px #686868 solid;
    margin-top: 40px;
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px;
        border-bottom: 1px #e8e8e8 solid;
        .clear-btn {
            padding: 5px 10px 5px 10px;
            margin-left: 14px;
            background: var(--darker-bg);
            border-radius: 3px;
            width: 120px;
            text-align: center;
            border: 1px #e8e8e8 solid;
            &:hover {
                cursor: pointer;
            }
        }
    }
    > ul {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    > ul > li:first-child, > ul li ul {
        display: flex;
        box-sizing: content-box;
        > * {
            min-width: 120px;
            max-width: 2000px;
            flex: 1;
            margin: 0;
            padding: 4px 10px 4px 10px;
            &:nth-of-type(even) {
                background: var(--darker-bg);
            }
        }
    }
    > ul > li > ul > li {
        border-top: 1px #686868 solid;
        display: flex;
        align-items: center
    }
    p {
        font-size: 14px;
        margin: 4px;
        word-break: break-all;
    }
    h2 {
        margin: 0;
    }
}

.checkbox-container {
    min-width: 20px !important;
    max-width: 20px !important;
    display: flex;
    align-items: center;
}