

#login-container {
    input {
        background: var(--darker-bg);
        resize: none;
        width: 100%;
        overflow-y: auto;
        border: 1px var(--dark-border) solid;
    }
    input[type=text], input[type=password] {
        color: var(--dark-font);
        font-size: 18px;
        padding: 4px;
    }
}

#submit-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 20px;
    input, textarea {
        background: var(--darker-bg);
        resize: none;
        overflow: auto;
        border: 1px var(--dark-border) solid;
    }
    textarea:placeholder {
        color: var(--dark-font);
    }
    
    input[type=text], input[type=password] {
        color: var(--dark-font);
        font-size: 18px;
        padding: 4px;
    }
    h2 {
        margin: 10px;
        z-index: 3;
        align-self: center;
    }
    #submit-container {
        display: flex;
        z-index: 3;
        .cover-browse {
            color: var(--dark-font);
            font-size: 40px;
            transition: 0.1s;
            margin-top: 5px;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
        #submit-instructions {
            flex-shrink: 2;
            min-width: 40%;
            h2 {
                margin: 0;
            }
            p {
                font-size: 16px;
                padding-right: 30px;
                border-right: 1px var(--dark-border) solid;
            }
        }
        form {
            display: flex;
            overflow-x: hidden;
            flex-grow: 2.3;
            #album_image {
                overflow: visible;
            }
            .submit-btn {
                overflow: hidden;
                position: relative;
                padding-top: 30px;
                padding-bottom: 30px;
                border-top: 1px var(--dark-border) solid;
                border-bottom: 1px var(--dark-border) solid;
                input {
                    width: 0;
                    height: 0;
                    padding: 0;
                    border: none;
                    opacity: 0;
                    margin: 0;
                }
            }
            .save-container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                width: 100%;
                align-items: center;
                h2 {
                    height: 0;
                    transition: height 0.1s;
                    overflow-y: hidden;
                }
                input {
                    width: 60%;
                    background: var(--lighter-bg);
                    border: 1px var(--dark-border) solid;
                    border-radius: 5px;
                    font-size: 25px;
                    color: var(--dark-font);
                    cursor: pointer;
                    padding: 5px 0 5px 0;
                    transition: border 0.2s;
                    overflow: visible;
                }
                .save-btn:hover {
                    border: 1px var(--dark-font) solid;
                }
            }
            #form-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                > div:first-child {
                    width: 100%;
                    display: flex;
                    margin-bottom: 30px;
                }
                #input-container {
                    display: flex;
                    min-width: 100%;
                    padding: 20px;
                    flex-direction: column;
                    transition: margin 0.3s;
                    p {
                        margin: 0 0 5px 0;
                    }
                    > div:first-of-type {
                        display: flex;
                    }
                    .form-divider {
                        display: flex;
                        flex-direction: column;
                        .form-field {
                            margin-bottom: 15px;
                            input {
                                width: 100%;
                            }
                        }
                        textarea {
                            width: 100%;
                            height: 150px;
                            padding: 5px;
                            color: var(--dark-font);
                            margin: 0;
                        }
                        .tracklist-submit {
                            width: 100%;
                            margin: 0;
                            .tracklist-edit-container {
                                align-items: flex-start;
                            }
                        }
                    }
                    #left-divider {
                        margin-right: 20px;
                        width: calc(40% - 20px);
                        .error-msg-container {
                            height: 0;
                            transition: height 0.2s;
                            font-size: 13px;
                            overflow-y: hidden;
                            font-style: italic;
                            p {
                                margin: 5px 0 0 0;
                            }
                        }
                    }
                    #right-divider {
                        width: 60%;
                        .form-field {
                            margin-botton: 30px;
                        }
                    }
                }
                #scraper-input {
                    min-width: 100%;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    > div {
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        > input {
                            width: 0;
                            height: 0;
                            padding: 0;
                            margin: 0;
                            opacity: 0;
                            z-index: -5;
                        }
                        h2 {
                            margin: 0;
                        }
                        ion-icon {
                            padding: 0;
                            margin: 5px 0;
                        }
                    }
                    #scraper-submit-btn {
                        padding: 8px 15px;
                        font-size: 25px;
                        background: var(--lighter-bg);
                        border: 1px var(--dark-border) solid;
                        border-radius: 4px;
                        align-self: center;
                        transition: 0.2s;
                        width: 50%;
                        text-align: center;
                        margin-top: 15px;
                        &:hover {
                            cursor: pointer;
                            border: 1px var(--light-border) solid;
                        }
                    }
                    .transparent {
                        opacity: 0.7 !important;
                        &:hover {
                            cursor: default !important;
                            border: 1px var(--dark-border) solid !important;
                        }
                    }
                    #scraper-form {
                        display: flex;
                        flex-direction: column;
                        max-height: 600px;
                        overflow-y: auto;
                        position: relative;
                        border-top: 1px var(--light-border) solid;
                        border-bottom: 1px var(--light-border) solid;
                        .submit-opacity {
                            position: absolute;
                            background: var(--darker-bg);
                            opacity: 0.4;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: -1;
                        }
                        .album-container {
                            width: 100%;
                            min-height: 300px;
                            max-height: 300px;
                            display: flex;
                            overflow: hidden;
                            position: relative;
                            padding: 6px;
                            &:not(:last-child) {
                                border-bottom: 1px var(--dark-border) solid;
                            }
                            > * {
                                margin-right: 8px;
                            }
                            .invalid {
                                border: 1px red solid !important;
                            }
                            .shrunk {
                                height: 0 !important;
                                min-height: 0 !important;
                                margin: 0 !important;
                                padding: 0 !important;
                                border: none !important;
                            }
                            .album-trash-btn {
                                width: 25px;
                                height: 25px;
                                color: var(--light-font);
                                opacity: 0.6;
                                transition: 0.1s;
                                position: absolute;
                                bottom: 4px;
                                left: 4px;
                                &:hover {
                                    opacity: 0.9;
                                    cursor: pointer;
                                }
                            }
                            input, textarea {
                                background: var(--darker-bg);
                                padding: 2px;
                                border: 1px var(--dark-border) solid;
                                color: var(--dark-font);
                                font-size: 14px;
                                height: 25px;
                            }
                            input[type="submit"] {
                                background: var(--lighter-bg);
                            }
                            .cover-edit-container {
                                display: flex;
                                flex-direction: column;
                                $cover-dimensions: 125px;
                                min-width: $cover-dimensions;
                                max-width: 30%;
                                > input {
                                    min-width: $cover-dimensions;
                                    margin-bottom: 8px;
                                    min-height: 25px;
                                }
                                label { 
                                    min-width: $cover-dimensions;
                                    max-width: $cover-dimensions;
                                    z-index: 3;
                                }
                                h2 {
                                    margin: 5px 0 0 0;
                                }
                                .size-error, .type-error {
                                    transition: 0.2s;
                                    overflow-y: hidden;
                                    font-size: 13px;
                                    font-style: italic;
                                    min-height: 1.2em;
                                    margin: 2px 0;
                                }
                                .selected-cover {
                                    font-size: 14px;
                                    margin: 2px 0;
                                }
                                > div {
                                    min-width: $cover-dimensions;
                                    max-width: $cover-dimensions;
                                    overflow: hidden;
                                    position: relative;
                                    display: flex;
                                    input {
                                        opacity: 0 !important;
                                        width: 0 !important;
                                        height: 0 !important;
                                        padding: 0 !important;
                                        margin: 0 !important;
                                        border: none !important;
                                    }
                                    > div {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        left: 0;
                                        border-radius: 25%;
                                        background: var(--lighter-bg);
                                        p {
                                            color: white;
                                            font-size: 18px;
                                            &:not(:first-child) {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                    img {
                                        min-width: $cover-dimensions;
                                        max-width: $cover-dimensions;
                                        transition: 0.3s;
                                        opacity: 1;
                                        display: block;
                                    }
                                    .cover-editable {
                                        &:hover {
                                            border-radius: 25%;
                                            cursor: pointer;
                                            filter: blur(4px);
                                            opacity: 0.3;
                                        }
                                    }
                                }
                            }
                            > input {
                                padding: 3px;
                                color: var(--dark-font);
                                align-self: flex-end;
                                font-size: 14px;
                                border-radius: 2px;
                                border: 1.3px var(--dark-border) solid;
                                transition: 0.1s;
                            }
                            > input:hover {
                                cursor: pointer;
                                border: 1px var(--light-font) solid;
                            }
                            .input-field-container {
                                display: flex;
                                flex-direction: column;
                                min-width: 150px;
                                height: 100%;
                                justify-content: space-between;
                                input {
                                    margin-bottom: 10px;
                                }
                            }
                            textarea {
                                width: 100%;
                                padding: 4px;
                                height: 150px;
                                flex-grow: 2;
                            }
                        }
                        .tracklist-submit {
                            max-height: 300px;
                            width: auto;
                            margin: 0;
                            > p {
                                margin: 0 0 4px 0;
                            }
                            .tracklist-edit-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .track-add-btn {
                                    font-size: 30px;
                                    color: var(--dark-font);
                                    opacity: 0.6;
                                    transition: 0.2s;
                                    align-self: center;
                                }
                                .track-add-btn:hover {
                                    cursor: pointer;
                                    opacity: 1;
                                }
                                .track-input-container {
                                    display: flex;
                                    width: 100%;
                                    margin-bottom: 5px;
                                    align-items: center;
                                    .draggable-area {
                                        width: 25px;
                                        height: 25px;
                                        background: var(--darker-bg);
                                        border-top: 1px var(--dark-border) solid;
                                        border-left: 1px var(--dark-border) solid;
                                        border-bottom: 1px var(--dark-border) solid;
                                        position: relative;
                                        &:hover {
                                            cursor: grab;
                                            cursor: -webkit-grab;
                                            cursor: -moz-grab;
                                        }
                                        &:before {
                                            content: '.';
                                            position: absolute;
                                            left: 2px;
                                            top: -11px;
                                            font-size: 20px;
                                            line-height: 20px;
                                            color: var(--dark-border);
                                            text-shadow: 5px 6px var(--dark-border),
                                                        0 6px var(--dark-border),
                                                        5px 0 var(--dark-border),
                                                        5px 12px var(--dark-border),
                                                        0 12px var(--dark-border);
                                        }
                                    }
                                    .track-delete-btn {
                                        font-size: 22px;
                                        color: var(--dark-font);
                                        opacity: 0.8;
                                        transition: 0.2s;
                                    }
                                    .track-delete-btn:hover {
                                        opacity: 1;
                                        cursor: pointer;
                                    }
                                    input {
                                        height: 25px;
                                        &:nth-of-type(2n+0) {
                                            background: var(--lighter-bg) !important;
                                        }
                                    }
                                    &:nth-of-type(even) input, &:nth-of-type(even) .draggable-area {
                                        background: var(--lighter-bg) !important;
                                        &:nth-of-type(2n+0) {
                                            background: var(--darker-bg) !important;
                                        }
                                    }
                                    .title, .duration, .romanization {
                                        border-top: 1px var(--dark-border) solid !important;
                                        border-right: none !important;
                                        border-bottom: 1px var(--dark-border) solid !important;
                                        border-left: none !important;
                                        &:focus {
                                            border-bottom: 1px royalblue solid !important;
                                            border-top: 1px royalblue solid !important;
                                        }
                                    }
                                    .duration {
                                        max-width: 30px !important;
                                        min-width: 30px !important;
                                        border-right: 1px var(--dark-border) solid !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    > * {
        z-index: 3;
    }
    form { 
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 500px;
        padding: 30px;
        margin: 30px;
        border-top: 1px var(--dark-border) solid;
        border-bottom: 1px var(--dark-border) solid;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            h3 {
                margin: 0 0 8px 0;
            }
        }
        input {
            color: var(--light-font);
        }
        input[type="submit"] {
            margin: 15px 0 15px 0;
            font-size: 20px;
            border-radius: 5px;
            max-width: 100px;
            padding: 8px;
            &:hover {
            }
        }
        > a {
            text-decoration: underline;
            padding: 10px;
            font-size: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.hint {
    font-size: 12px;
    margin: 0;
    margin-bottom: 4px;
    .hint-click {
        cursor: pointer;
        text-decoration: underline;
    }
}

.left-margin {
    margin-left: calc(-100% - 20px);
}

.link {
    color: #5194ff;
    text-decoration: underline;
}