$lighter-bg: #211c08;
$darker-bg: #1b180b;
$dark-border: #686868;
$light-border: #8c8c8c;
$dark-font: #e3e3e3;
$light-font: #e8e8e8;

#login-container {
    input {
        background: $darker-bg;
        resize: none;
        width: 100%;
        overflow-y: auto;
        border: 1px $dark-border solid;
    }
    input[type=text], input[type=password] {
        color: $dark-font;
        font-size: 18px;
        padding: 4px;
    }
}

#submit-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    input, textarea {
        background: $darker-bg;
        resize: none;
        overflow: auto;
        border: 1px $dark-border solid;
    }
    textarea:placeholder {
        color: $dark-font;  
    }
    
    input[type=text], input[type=password] {
        color: $dark-font;
        font-size: 18px;
        padding: 4px;
    }
    h2 {
        margin: 10px;
        z-index: 3;
        align-self: center;
    }
    #submit-container {
        display: flex;
        z-index: 3;
        .cover-browse {
            color: $dark-font;
            font-size: 40px;
            transition: 0.1s;
            margin-top: 5px;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
        #submit-instructions {
            flex-shrink: 2;
            min-width: 40%;
            h2 {
                margin: 0;
            }
            p {
                font-size: 16px;
                padding-right: 30px;
                border-right: 1px $dark-border solid;
            }
        }
        form {
            display: flex;
            overflow-x: hidden;
            flex-grow: 2.3;
            #album_image {
                overflow: visible;
            }
            .submit-btn {
                overflow: hidden;
                position: relative;
                padding-top: 30px;
                padding-bottom: 30px;
                border-top: 1px $dark-border solid;
                border-bottom: 1px $dark-border solid;
                input {
                    width: 0;
                    height: 0;
                    padding: 0;
                    border: none;
                    opacity: 0;
                    margin: 0;
                }
            }
            .save-container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                width: 100%;
                align-items: center;
                h2 {
                    height: 0;
                    transition: height 0.1s;
                    overflow-y: hidden;
                }
                input {
                    width: 60%;
                    background: $lighter-bg;
                    border: 1px $dark-border solid;
                    border-radius: 5px;
                    font-size: 25px;
                    color: $dark-font;
                    cursor: pointer;
                    padding: 5px 0 5px 0;
                    transition: border 0.2s;
                    overflow: visible;
                }
                .save-btn:hover {
                    border: 1px $dark-font solid;
                }
            }
            #form-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                > div:first-child {
                    width: 100%;
                    display: flex;
                    margin-bottom: 30px;
                }
                #input-container {
                    display: flex;
                    min-width: 100%;
                    flex-direction: column;
                    transition: margin 0.3s;
                    p {
                        margin: 0 0 5px 0;
                    }
                    > div:first-of-type {
                        display: flex;
                        padding: 15px 20px 15px 0;
                    }
                    .form-divider {
                        display: flex;
                        flex-direction: column;
                        .form-field {
                            margin-bottom: 15px;
                            input {
                                width: 100%;
                            }
                        }
                        textarea {
                            width: 100%;
                            height: 150px;
                            padding: 5px;
                            color: $dark-font;
                            margin: 0;
                        }
                        .tracklist-submit {
                            width: 100%;
                            margin: 0;
                            .tracklist-edit-container {
                                align-items: flex-start;
                            }
                        }
                    }
                    #left-divider {
                        margin-right: 20px;
                        width: calc(40% - 20px);
                        .error-msg-container {
                            height: 0;
                            transition: height 0.2s;
                            font-size: 13px;
                            overflow-y: hidden;
                            font-style: italic;
                            p {
                                margin: 5px 0 0 0;
                            }
                        }
                    }
                    #right-divider {
                        width: 60%;
                        .form-field {
                            margin-botton: 30px;
                        }
                    }
                }
                #scraper-input {
                    min-width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    input {
                        width: 0;
                        height: 0;
                        padding: 0;
                        margin: 0;
                        opacity: 0;
                        z-index: -5;
                    }
                    h2 {
                        margin: 0;
                    }
                    ion-icon {
                        padding: 0;
                        margin: 5px 0;
                    }
                    #scraper-submit-btn {
                        padding: 8px 15px;
                        font-size: 25px;
                        background: $lighter-bg;
                        border: 1px $dark-border solid;
                        border-radius: 4px;
                        transition: 0.2s;
                        width: 30%;
                        text-align: center;
                        margin-top: 15px;
                        &:hover {
                            cursor: pointer;
                            border: 1px $light-border solid;
                        }
                    }
                    .transparent {
                        opacity: 0.7 !important;
                        &:hover {
                            cursor: default !important;
                            border: 1px $dark-border solid !important;
                        }
                    }
                }
            }
        }
    }
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    > * {
        z-index: 3;
    }
    form { 
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 500px;
        padding: 30px;
        margin: 30px;
        border-top: 1px $dark-border solid;
        border-bottom: 1px $dark-border solid;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            h3 {
                margin: 0 0 8px 0;
            }
        }
        input {
            color: $light-font;
        }
        input[type="submit"] {
            margin: 15px 0 15px 0;
            font-size: 20px;
            border-radius: 5px;
            max-width: 100px;
            padding: 8px;
            &:hover {
            }
        }
        > a {
            text-decoration: underline;
            padding: 10px;
            font-size: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.hint {
    font-size: 12px;
    margin: 0;
    .hint-click {
        cursor: pointer;
        text-decoration: underline;
    }
}

.left-margin {
    margin-left: calc(-100% - 20px);
}

.link {
    color: #5194ff;
    text-decoration: underline;
}