
#profile-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    #profile-header {
        display: flex;
        padding: 20px 20px 20px 0;
        border-bottom: 1px #8c8c8c solid;
        height: 200px;
        position: relative;
        > * {
            z-index: 3;
        }
        .profile-edit-btn, .profile-settings-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            color: var(--dark-font);
            opacity: 0.7;
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
        .profile-settings-btn {
            right: 40px;
        }
        #email-div {
            position: absolute;
            right: 0;
            bottom: 4px;
            font-size: 12px;
            transition: 0.2s;
            opacity: 0.8;
            #resend-email-btn {
                text-decoration: underline;
                &:hover {
                    opacity: 1;
                }
            }
        }
        > div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 30px;
            padding-right: 30px;
            border-right: 1px #8c8c8c solid;
            label { 
                min-width: 125px;
                min-height: 125px;
                z-index: 3;
            }
            h2 {
                margin: 5px 0 0 0;
            }
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            > form, > div {
                min-width: 125px;
                max-width: 125px;
                min-height: 125px;
                max-height: 125px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                display: flex;
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: var(--lighter-bg);
                    flex-direction: column;
                    p {
                        color: white;
                        font-size: 18px;
                        &:not(:first-child) {
                            font-size: 13px;
                        }
                    }
                }
                img {
                    height: 125px;
                    width: 125px;
                    transition: 0.3s;
                    opacity: 1;
                }
                .editable {
                    &:hover {
                        cursor: pointer;
                        filter: blur(4px);
                        opacity: 0.3;
                    }
                }
            }
        }
        .profile-info-container {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > div {
                display: flex;
                padding: 5px;
                margin: 10px 0;
                border-bottom: 1px #686868 solid;
                > p {
                    margin-right: 10px;
                }
            }
        }
        .bio {
            flex-direction: row;
            align-items: stretch;
            > div {
                flex-direction: column;
                p:not(:first-child), a, i, b{
                    margin: 8px 0;
                }
            }
        }
    }
    p {
        margin: 0;
    }
    #profile-body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 20px;
        #activity-container {
            display: flex;
            flex-direction: column;
            width: 60%;
            > h2 {
                display: table;
                z-index: 5;
                padding: 4px;
                margin: 0 0 8px 0;
            }
            #feed {
                width: 100%;
                margin: 0;
                padding-right: 10px;
                .article {
                    width: 100%;
                    min-height: 200px;
                    max-height: 200px;
                    padding: 0;
                    overflow: hidden;
                    > h4 {
                        align-self: flex-start;
                        margin: 5px;
                    }
                    .article-body {
                        padding: 4px;
                    }
                    .article-header {
                        &:not(.focused-featured):hover > p img {
                            transform: scale(1.1);
                        }
                        > .header-positioner {
                            width: 100%;
                            height: 500px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 50%;
                            transform: translate(0, -50%);
                            &:last-of-type {
                                z-index: 2;
                            }
                            > img {
                                width: 100%;
                                filter: blur(4px) brightness(0.5);
                                z-index: -1;
                                transition: transform .7s;
                            }
                        }
                    }
                }
            }
        }
        #user-sidebar {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 0 0 0 16px;
            border-left: 1px var(--dark-border) solid;
            z-index: 10;
            #notification-panel {
                display: flex;
                flex-direction: column;
                width: 100%;
                > h3 {
                    margin: 4px 0 12px 0;
                }
                .notification-card {
                    width: 100%;
                    min-height: 100px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    border: 1px var(--dark-border) solid;
                    border-radius: 8px;
                    padding: 8px;
                    margin: 6px 0;
                    text-decoration: none;
                    position: relative;
                    transition: 0.2s;
                    box-shadow: 4px 4px 10px 0 #0f0f0f;
                    &:hover {
                        border: 1px var(--light-font) solid;
                    }
                    .notification-opacity {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 8px;
                    background: var(--darker-bg);
                    opacity: 0.6;
                    z-index: 1;
                    }
                    > *:not(.notification-opacity) {
                        z-index: 5;
                    }
                    h4, p, h3, h2, h1 {
                        margin: 0;
                    }
                    .notification-header {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        h4 {
                            font-size: 13px;
                        }
                        p {
                            font-size: 13px;
                            opacity: 0.8;
                        }
                    }
                    .notification-body {
                        width: 100%;
                        display: flex;
                        .avatar-wrapper {
                            max-width: 50px;
                            min-width: 50px;
                            max-height: 50px;
                            min-height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right: 15px;
                            img {
                                max-width: 50px;
                                max-height: 50px;
                            }
                        }
                        p {
                            font-size: 14px;
                            word-break: break-all;
                        }
                    }
                    .notification-divider {
                        align-self: center;
                        margin: 8px;
                        padding: 0;
                        border-top: 1px var(--dark-border) solid;
                        width: 45px;
                    }
                }
                #see-all {
                    align-self: center;
                    font-size: 14px;
                    transition: 0.1s;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    #pw-reset-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        > form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 20px;
            border-top: 1px var(--dark-border) solid;
            input {
                width: 30%;
                border: 1px var(--dark-border) solid;
                border-radius: 4px;
                margin-bottom: 10px;
                color: var(--light-font);
                font-size: 20px;
            }
            input[type='submit'] {
                min-width: 200px;
                width: 25%;
            }
        }
    }
}