$lighter-bg: #2f3322;
$darker-bg: #191b12;
$dark-border: #686868;
$light-border: #8c8c8c;
$dark-font: #e3e3e3;
$light-font: #e8e8e8;

#profile-wrapper {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 20px;
    #profile-header {
        display: flex;
        padding: 20px 20px 20px 0;
        border-bottom: 1px #8c8c8c solid;
        height: 200px;
        position: relative;
        > * {
            z-index: 3;
        }
        #profile-edit-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            color: $dark-font;
            opacity: 0.7;
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
        > div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 30px;
            padding-right: 30px;
            border-right: 1px #8c8c8c solid;
            label { 
                min-width: 125px;
                min-height: 125px;
                z-index: 3;
            }
            h2 {
                margin: 5px 0 0 0;
            }
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            > form, > div {
                min-width: 125px;
                max-width: 125px;
                min-height: 125px;
                max-height: 125px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                display: flex;
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: $lighter-bg;
                    p {
                        color: white;
                        font-size: 18px;
                    }
                }
                img {
                    height: 125px;
                    width: 125px;
                    transition: 0.3s;
                    opacity: 1;
                }
                .editable {
                    &:hover {
                        cursor: pointer;
                        filter: blur(4px);
                        opacity: 0.3;
                    }
                }
            }
        }
        .profile-info-container {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            > div {
                display: flex;
                padding: 5px;
                border-bottom: 1px #686868 solid;
                > p {
                    margin-right: 10px;
                }
            }
        }
    }
    p {
        margin: 0;
    }
}