<% title 'New thread' %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<%= image_tag "spinner.gif", class: "spinner hidden" %>
	<div id="thread-create-wrapper">
        <div id="main-opacity"></div>
    	<form id="thread-form" action="/thread/create" accept-charset="UTF-8" data-remote="true" method="post">
            <div class="thread-header">
                <h2>Create new thread</h2>
            </div>
            <div class="thread-body">
                <input type="hidden" name="thread[category]" value="<%= params[:category] %>">
                <div id="title-subtitle">
                    <input id="thread-title" type="text" name="thread[title]" placeholder="Title">
                </div>
                <textarea id="thread-body" name="thread[body]" placeholder="Type your text here"></textarea>
                <script>
                    var threadContent = new EasyMDE({ element: $('#thread-body')[0] });
                </script>
                <div id="pinned-container">
                    <input id="thread-pinned" type="checkbox" name="thread[pinned]" value="true"><label for="pinned-featured"><p>Pinned</p></label>
                </div>
                <input type="submit" id="thread-submit-btn" name="commit" value="Submit thread">
            </div>
        </form>
    </div>
</div>