<% title @thread.title %>
<script>
    var threadId = <%= @thread.id %>
</script>
<div class="modal delete-modal modal-inactive">
	<input id="delete-post-id" type="text" name="report[post]" value="" hidden>
	<div>
		<h2>Confirmation</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
	<p>Are you sure you want to delete this post?</p>
	<a class="delete-confirm-btn">Yes, delete it</a>
</div>
<% if @current_user && @current_user.email_confirmed %>
<div id="report-form-container" class="modal modal-inactive">
	<div>
		<h2>Submit a report</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'report-close modal-close' %>
	<form id="report-form" class="modal-form" action="/reports/create" accept-charset="UTF-8" data-remote="true" method="post">
		<input id="report-target" type="text" name="report[target_id]" value="" hidden>
		<input type="text" name="report[report_type]" value="Post" hidden>
		<div class="modal-form-input-container">
			<label for="report-input-container"><p>Report reason:</p></label>
			<select class='report-reason' name="report[reason]" form="report-form" required>
				<option value='Spam'><p>Spam</p></option>
				<option value='Offensive'><p>Offensive content</p></option>
				<option value='Other'><p>Other</p></option>
			</select>
			<label for="report-comment"><p>Comment:</p></label>
			<textarea id="report-comment" placeholder="Any additional notes go here" name="report[comment]"></textarea>
		</div>
		<input type="submit" name="commit" value="Send Report">
		<div class="submit-message shrunk">
			<p>Your report has been submitted!</p>
		</div>
	</form>
</div>
<% end %>
<div id="edit-form-container" class="modal modal-inactive">
	<div>
		<h2>Edit post</h2>
	</div>
    <%= evil_icon 'ei-close', size: 'm', class: 'modal-close' %>
	<form id="edit-form" class="modal-form" action="/posts/update" accept-charset="UTF-8" data-remote="true" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input id="edit-id" type="text" name="post[post_id]" value="" hidden>
		<div class="modal-form-input-container">
			<label for="edit-body"><p>Text:</p></label>
			<textarea id="edit-body" placeholder="Type your text here" name="post[body]"></textarea>
            <script>
                var editContent = new EasyMDE({ element: $('#edit-body')[0] });
            </script>
		</div>
		<input class="edit-submit-btn" type="submit" name="commit" value="Save edit">
		<div class="submit-message shrunk">
			<p>Your comment has been edited!</p>
		</div>
	</form>
</div>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="board-container">
        <div id="main-opacity"></div>
        <% if @current_user %>
            <%= evil_icon 'ei-bell', size: 's', class: 'post-icon post-bell' + (Subscription.find_by(user: @current_user, subscription_type: 'ForumThread', target_id: @thread.id).present? ? 'green' : ''), title: 'Toggle notifications' %>
        <% end %>
        <% if @current_user && @current_user.admin %>
        <%= evil_icon 'ei-location', size: 's', class: 'post-icon thread-pin' + (@thread.stickied ? 'green' : ''), title: 'Pin thread' %>
        <% end %>
        <h2 id="title"><a href="<%= forum_path + "/#{@thread.category}" %>"><%= @thread.category.titleize %></a> > <%= @thread.title %></h2>
        <div class="page-container top">
            <% if @page - 1 > 0 %>
            <a class="icon" href="<%= root_url + "forum/#{@thread.category}/t/#{@thread.id}?p=#{@page - 1}"%>"><%= evil_icon 'ei-chevron-left' %></a>
            <% end %>
            <% (0...(@posts.length / 10.0).ceil).each do | i | %>
            <a class="page-btn <%= tempClass = (i + 1 == @page) ? 'underline' : 'inactive' %>" href="<%= root_url + "forum/#{@thread.category}/t/#{@thread.id}?p=#{i + 1}" %>"><%= i + 1 %></a>
            <% end %>
            <% if @page + 1 <= (@posts.length / 10.0).ceil %>
            <a class="icon" href="<%= root_url + "forum/#{@thread.category}/t/#{@thread.id}?p=#{@page + 1}"%>"><%= evil_icon 'ei-chevron-right' %></a>
            <% end %>
        </div>
        <div id="post-list">
            <ul>
                <div id="forum-opacity"></div>
                <% @page_posts.each do | post | %>
                <li>
                    <input class="post-id" value="<%= post.id %>" hidden>
                    <input class="post-markdown" value="<%= post.body.gsub(/[\r\n]/, '(NEWLINE)') %>" hidden>
                    <div class="post-body">
                        <div class="user-info">
                            <p class="user-name"><b><a href="<%= root_url + 'users/' + post.user.username %>"><%= post.user.username %></a></b></p>
                            <div class="user-badges">
                            <% get_badges(post.user).each do | badge | %>
                            <div class="badge <%= badge.downcase %>"><p><%= badge %></p></div>
                            <% end %>
                            </div>
                            <div class="avatar-wrapper"><a href="<%= root_url + 'users/' + post.user.username %>">
                            <%= image_tag user_avatar(post.user) %>
                            </a></div>
                            <p class="user-account-type"><b><%= post.user.account_type %></b></p>
                            <p class="user-karma"><%= user_karma(post.user) %> karma</p>
                            <p class="user-post-count"><%= post.user.posts.length %> posts</p>
                            <p class="user-location"><b>Location:</b> <%= post.user.location %></p>
                        </div>
                        <div class="text-container">
                            <div class="body-icon-container">
                                <div class="post-text paragraph">
                                <%= parse_markdown(post.body) %>
                                </div>
                                <div class="header-icons">
                                    <% if @current_user %>
                                        <% if @current_user.admin || post.user.id == @current_user.id %>
                                        <%= evil_icon 'ei-trash', size: 's', class: 'post-icon post-trash', title: 'Delete post' %>
                                        <% end %>
                                        <% if post.user != @current_user && @current_user.email_confirmed%>
                                        <%= evil_icon 'ei-exclamation', size: 's', class: 'post-icon post-flag', title: 'Report post' %>
                                        <% end %>
                                        <% if post.user.id == @current_user.id %>
                                        <%= evil_icon 'ei-pencil', size: 's', class: 'post-icon post-edit', title: 'Edit post' %>
                                        <% end %>
                                        <% if @current_user %>
                                        <%= evil_icon 'ei-redo', size: 's', class: 'post-icon post-quote', title: 'Quote' %>
                                        <% end %>
                                        <% if @current_user && @current_user != post.user && @current_user.email_confirmed %>
                                        <div class="heart-container">
                                            <%= evil_icon 'ei-heart', size: 's', class: 'heart-animation hidden' %>
                                            <%= evil_icon 'ei-heart', size: 's', class: 'post-icon post-heart' + (Upvote.find_by(user: @current_user, upvote_type: 'post', target_id: post.id).present? ? 'red' : ''), title: 'Upvote' %>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="index-date">
                                <p class="post-date">#<%= post.post_index %> Posted at <%= post.created_at.strftime("%R %Z, %F") %></p>
                                <p class="post-score">Score: <%= post_upvotes(post) %></p>
                            </div>
                            <div class="user-signature">
                                <p><%= post.user.signature %></p>
                            </div>
                        </div>
                    </div>
                </li>
                <% end %>
                <% if @current_user %>
                <div id="reply-container">
                    <form id="reply-form" enctype="multipart/form-data" action="<%= root_url + 'posts/create' %>" method="post" data-remote="false">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <input type="text" name="post[thread_id]" value="<%= @thread.id %>" hidden>
                        <div id="form-user-info">
                            <%= image_tag user_avatar(@current_user) %>
                        </div>
                        <div id="reply-text-container">
                            <h3>Reply to this thread</h3>
                            <textarea id="reply-textarea" name="post[body]" placeholder="Type your reply here."></textarea>
                            <script>
                                var replyContent = new EasyMDE({ element: $('#reply-textarea')[0] });
                            </script>
                            <input type="submit" value="Submit reply" name="commit">
                        </div>
                    </form>
                </div>
                <% else %>
                <div id="no-login-form">
                    <h2>You must be a member to reply to this thread</h2>
                    <p>Log in or register below</p>
                    <form enctype="multipart/form-data" action="<%= root_url %>login" accept-charset="UTF-8" data-remote="true" method="post">
                        <input placeholder="Username" type="text" name="session[username]">
                        <input placeholder="Password" type="password" name="session[password]">
                        <input value="Login" type="submit" name="commit">
                    </form>
                    <a class="register-btn">Create an account</a>
                </div>
                <% end %>
                <div class="page-container bottom">
                    <% if @page - 1 > 0 %>
                    <a class="icon" href="<%= root_url + "forum/#{@thread.category}/t/#{@thread.id}?p=#{@page - 1}"%>"><%= evil_icon 'ei-chevron-left' %></a>
                    <% end %>
                    <% (0...(@posts.length / 10.0).ceil).each do | i | %>
                    <a class="page-btn <%= tempClass = (i + 1 == @page) ? 'underline' : 'inactive' %>" href="<%= root_url + "forum/#{@thread.category}/t/#{@thread.id}?p=#{i + 1}" %>"><%= i + 1 %></a>
                    <% end %>
                    <% if @page + 1 <= (@posts.length / 10.0).ceil %>
                    <a class="icon" href="<%= root_url + "forum/#{@thread.category}/t/#{@thread.id}?p=#{@page + 1}"%>"><%= evil_icon 'ei-chevron-right' %></a>
                    <% end %>
                </div>
            </ul>
        </div>
    </div>
</div>
