<% title "Oops!" %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="error-wrapper">
		<div id="main-opacity"></div>
		<h2>Something went wrong!</h2>
		<h3>401 access denied</h3>
		<p>Seems like you're trying to access a page you aren't authorized to access. How rude of you!</p>
	</div>
</div>