<% title "Oops!" %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="error-wrapper">
		<div id="main-opacity"></div>
		<h2>Something went wrong!</h2>
		<h3>404 page not found</h3>
		<p>We could not find the page you're looking for. Did you spell everything correctly?</p>
	</div>
</div>