<% title "Oops!" %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="error-wrapper">
		<div id="main-opacity"></div>
		<h2>Something went wrong!</h2>
		<h3>502 internal server error</h3>
		<p>Please try again in a few minutes.</p>
	</div>
</div>