<% title "Please activate your email to continue" %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="login-container">
	    <div id="main-opacity"></div>
    	<h2>You don't have access to this page. Please activate your email to continue.</h2>
        <p> click <a href="/users/resend-email">here</a> to resend the activation email</p>
    </div>
</div>
