<!DOCTYPE html>
<html lang="en">
<head>
    <%= display_meta_tags site: 'SuperKayo' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins|News+Cycle|Open+Sans|Roboto+Condensed" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
    <link rel="canonical" href="<%= request.original_url %>">
    <meta name="description" content="SuperKayo is an open source community for Japanese kayo music. Talk about your favorite albums and read interesting articles to your heart's content!">
    <style>
        :root {
        <% if @user_pref == nil || @user_pref.theme == 'Kayo' %> --lighter-bg: #211c08;
            --darker-bg: #1b180b;
            --dark-border: #686868;
            --light-border: #8c8c8c;
            --dark-font: #e3e3e3;
            --light-font: #e8e8e8;
            --shadow: #1e1e1e;
        <% elsif @user_pref.theme == 'Beach' %> --lighter-bg: #8b865a;
            --darker-bg: #6b684b;
            --dark-border: #B1B1B1;
            --light-border: #F3F3F3;
            --dark-font: #ececec;
            --light-font: #fcfcfc;
            --shadow: #393939;
        <% elsif @user_pref.theme == 'City' %> --lighter-bg: #404364;
            --darker-bg: #2a2c43;
            --dark-border: #686868;
            --light-border: #8c8c8c;
            --dark-font: #e3e3e3;
            --light-font: #e8e8e8;
            --shadow: #1e1e1e;
        <% end %>
        }
    </style>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= evil_icons_sprite %>
<div id="wrapper">
    <% flash.each do |name, msg| -%>
        <div class="modal flash-modal <%= name %>">
            <div>
                <h2>Alert</h2>
            </div>
            <%= evil_icon 'ei-close', size: 'm', class: "modal-close" %>
            <p><%= msg %></p>
        </div>
    <% end -%>
    <div id="header">
        <div id="header-opacity"></div>
        <%= inject_login %>
    </div>
    <div id="opaque"></div>
    <% if !@current_user %>
        <div id="register-form-container" class="modal modal-inactive">
            <div>
                <h2>Create an account</h2>
            </div>
            <ion-icon name="ios-close" id="register-close" class="modal-close"></ion-icon>
            <%= evil_icon 'ei-close', size: 'm', id: "register-close", class: "modal-close", name: "ios-close" %>
            <form id="register-form" class="modal-form" action="/users/create" accept-charset="UTF-8" data-remote="true" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div id="register-input-container" class="modal-form-input-container">
                    <div>
                        <div>
                            <label for="username"><p>Username*</p></label>
                            <input id="username" type="text" name="user[username]" placeholder="HosonoLover123" required>
                        </div>
                        <div>
                            <label for="password"><p>Password*</p></label>
                            <input id="password" type="password" name="user[password]" placeholder="Password (min 8 characters)" minlength="8" required>
                        </div>
                        <div>
                            <label for="email"><p>E-mail address*</p></label>
                            <input id="email" type="email" name="user[email" placeholder="dorothy@tinpan.com" required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="gender"><p>Gender</p></label>
                            <select id="gender" class='gender-input' name="user[gender]" form="register-form" required>
                                <option value="Male"><p>Male</p></option>
                                <option value="Female"><p>Female</p></option>
                                <option value="Other"><p>Other</p></option>
                                <option value="Unknown"><p>I'd rather not specify</p></option>
                            </select>
                        </div>
                        <div>
                            <label for="birth-year"><p>Year of birth</p></label>
                            <select id="birth-year" class="age-input" name="user[birth_year]" form="register-form" required>
                                <option value="Unknown"><p>I'd rather not specify</p></option>
                                <option value="2019"><p>2019</p></option>
                                <option value="2018"><p>2018</p></option>
                                <option value="2017"><p>2017</p></option>
                                <option value="2016"><p>2016</p></option>
                                <option value="2015"><p>2015</p></option>
                                <option value="2014"><p>2014</p></option>
                                <option value="2013"><p>2013</p></option>
                                <option value="2012"><p>2012</p></option>
                                <option value="2011"><p>2011</p></option>
                                <option value="2010"><p>2010</p></option>
                                <option value="2009"><p>2009</p></option>
                                <option value="2008"><p>2008</p></option>
                                <option value="2007"><p>2007</p></option>
                                <option value="2006"><p>2006</p></option>
                                <option value="2005"><p>2005</p></option>
                                <option value="2004"><p>2004</p></option>
                                <option value="2003"><p>2003</p></option>
                                <option value="2002"><p>2002</p></option>
                                <option value="2001"><p>2001</p></option>
                                <option value="2000"><p>2000</p></option>
                                <option value="1999"><p>1999</p></option>
                                <option value="1998"><p>1998</p></option>
                                <option value="1997"><p>1997</p></option>
                                <option value="1996"><p>1996</p></option>
                                <option value="1995"><p>1995</p></option>
                                <option value="1994"><p>1994</p></option>
                                <option value="1993"><p>1993</p></option>
                                <option value="1992"><p>1992</p></option>
                                <option value="1991"><p>1991</p></option>
                                <option value="1990"><p>1990</p></option>
                                <option value="1989"><p>1989</p></option>
                                <option value="1988"><p>1988</p></option>
                                <option value="1987"><p>1987</p></option>
                                <option value="1986"><p>1986</p></option>
                                <option value="1985"><p>1985</p></option>
                                <option value="1984"><p>1984</p></option>
                                <option value="1983"><p>1983</p></option>
                                <option value="1982"><p>1982</p></option>
                                <option value="1981"><p>1981</p></option>
                                <option value="1980"><p>1980</p></option>
                                <option value="1979"><p>1979</p></option>
                                <option value="1978"><p>1978</p></option>
                                <option value="1977"><p>1977</p></option>
                                <option value="1976"><p>1976</p></option>
                                <option value="1975" selected><p>1975</p></option>
                                <option value="1974"><p>1974</p></option>
                                <option value="1973"><p>1973</p></option>
                                <option value="1972"><p>1972</p></option>
                                <option value="1971"><p>1971</p></option>
                                <option value="1970"><p>1970</p></option>
                                <option value="1969"><p>1969</p></option>
                                <option value="1968"><p>1968</p></option>
                                <option value="1967"><p>1967</p></option>
                                <option value="1966"><p>1966</p></option>
                                <option value="1965"><p>1965</p></option>
                                <option value="1964"><p>1964</p></option>
                                <option value="1963"><p>1963</p></option>
                                <option value="1962"><p>1962</p></option>
                                <option value="1961"><p>1961</p></option>
                                <option value="1960"><p>1960</p></option>
                                <option value="1959"><p>1959</p></option>
                                <option value="1958"><p>1958</p></option>
                                <option value="1957"><p>1957</p></option>
                                <option value="1956"><p>1956</p></option>
                                <option value="1955"><p>1955</p></option>
                                <option value="1954"><p>1954</p></option>
                                <option value="1953"><p>1953</p></option>
                                <option value="1952"><p>1952</p></option>
                                <option value="1951"><p>1951</p></option>
                                <option value="1950"><p>1950</p></option>
                                <option value="1949"><p>1949</p></option>
                                <option value="1948"><p>1948</p></option>
                                <option value="1947"><p>1947</p></option>
                                <option value="1946"><p>1946</p></option>
                                <option value="1945"><p>1945</p></option>
                                <option value="1944"><p>1944</p></option>
                                <option value="1943"><p>1943</p></option>
                                <option value="1942"><p>1942</p></option>
                                <option value="1941"><p>1941</p></option>
                                <option value="1940"><p>1940</p></option>
                                <option value="1939"><p>1939</p></option>
                                <option value="1938"><p>1938</p></option>
                                <option value="1937"><p>1937</p></option>
                                <option value="1936"><p>1936</p></option>
                                <option value="1935"><p>1935</p></option>
                                <option value="1934"><p>1934</p></option>
                                <option value="1933"><p>1933</p></option>
                                <option value="1932"><p>1932</p></option>
                                <option value="1931"><p>1931</p></option>
                                <option value="1930"><p>1930</p></option>
                                <option value="1929"><p>1929</p></option>
                                <option value="1928"><p>1928</p></option>
                                <option value="1927"><p>1927</p></option>
                                <option value="1926"><p>1926</p></option>
                                <option value="1925"><p>1925</p></option>
                                <option value="1924"><p>1924</p></option>
                                <option value="1923"><p>1923</p></option>
                                <option value="1922"><p>1922</p></option>
                                <option value="1921"><p>1921</p></option>
                                <option value="1920"><p>1920</p></option>
                                <option value="1919"><p>1919</p></option>
                                <option value="1918"><p>1918</p></option>
                                <option value="1917"><p>1917</p></option>
                                <option value="1916"><p>1916</p></option>
                                <option value="1915"><p>1915</p></option>
                                <option value="1914"><p>1914</p></option>
                                <option value="1913"><p>1913</p></option>
                                <option value="1912"><p>1912</p></option>
                                <option value="1911"><p>1911</p></option>
                                <option value="1910"><p>1910</p></option>
                                <option value="1909"><p>1909</p></option>
                                <option value="1908"><p>1908</p></option>
                                <option value="1907"><p>1907</p></option>
                                <option value="1906"><p>1906</p></option>
                                <option value="1905"><p>1905</p></option>
                            </select>
                        </div>
                    </div>
                    <i class="asterisk">*Required fields</i>
                </div>
                <input type="submit" name="commit" value="Register">
                <div class="submit-message shrunk">
                    <p>Account successfully created!</p>
                </div>
            </form>
        </div>
        <div id="password-reset-form-container" class="modal modal-inactive">
            <div>
                <h2>Reset password</h2>
            </div>
            <%= evil_icon 'ei-close', name: "ios-close", id: "report-close", size: 'm', class: "modal-close" %>
            <form id="password-reset-form" class="modal-form" action="/users/password-reset" accept-charset="UTF-8" data-remote="true" method="post">
                <div class="modal-form-input-container">
                    <label for="reset-email"><p>Please enter your email:</p></label>
                    <input id="reset-email" placeholder="Email" name="reset-email">
                </div>
                <input type="submit" name="commit" value="Send Link">
                <div class="submit-message shrunk">
                    <p>The email has been sent!</p>
                </div>
            </form>
        </div>
    <% end %>
    <div id="albums-bg-container">
        <% if !@current_user || @user_pref.theme == 'Kayo' %>
            <%= image_tag 'bg/kayo/minibus.jpg' %>
            <%= image_tag 'bg/kayo/black-car.jpg' %>
            <%= image_tag 'bg/kayo/bonchi.jpg' %>
            <%= image_tag 'bg/kayo/busy-street.jpg' %>
            <%= image_tag 'bg/kayo/coca-cola.jpg' %>
            <%= image_tag 'bg/kayo/liquor-store.jpg' %>
            <%= image_tag 'bg/kayo/market-stall.jpg' %>
            <%= image_tag 'bg/kayo/moped-man.jpg' %>
            <%= image_tag 'bg/kayo/music-city.jpg' %>
            <%= image_tag 'bg/kayo/nikon.jpg' %>
            <%= image_tag 'bg/kayo/rural-street.jpg' %>
            <%= image_tag 'bg/kayo/sub-gate.jpg' %>
            <%= image_tag 'bg/kayo/sunset.jpg' %>
            <%= image_tag 'bg/kayo/takomatsu.jpg' %>
            <%= image_tag 'bg/kayo/train-crossing.jpg' %>
            <%= image_tag 'bg/kayo/train-platform-2.jpg' %>
            <%= image_tag 'bg/kayo/red-train.jpg' %>
            <%= image_tag 'bg/kayo/train-platform.jpg' %>
            <%= image_tag 'bg/kayo/tram.jpg' %>
            <%= image_tag 'bg/kayo/us-navy.jpg' %>
            <%= image_tag 'bg/kayo/vending-machine.jpg' %>
            <%= image_tag 'bg/kayo/white-car.jpg' %>
            <%= image_tag 'bg/kayo/yellow-car.jpg' %>
        <% elsif @user_pref.theme == 'Beach' %>
            <%= image_tag 'bg/beach/big-palm.jpg' %>
            <%= image_tag 'bg/beach/beach-drink.jpg' %>
            <%= image_tag 'bg/beach/bikini-woman.jpg' %>
            <%= image_tag 'bg/beach/lagoon.jpg' %>
            <%= image_tag 'bg/beach/sunset.jpg' %>
            <%= image_tag 'bg/beach/van.jpg' %>
            <%= image_tag 'bg/beach/wide-beach.jpg' %>
        <% elsif @user_pref.theme == 'City' %>
            <%= image_tag 'bg/city/night-neon.jpg' %>
            <%= image_tag 'bg/city/alley.jpg' %>
            <%= image_tag 'bg/city/big-lamp.jpg' %>
            <%= image_tag 'bg/city/busy-night.jpg' %>
            <%= image_tag 'bg/city/highway.jpg' %>
            <%= image_tag 'bg/city/osaka.jpg' %>
            <%= image_tag 'bg/city/small-lamp.jpg' %>
            <%= image_tag 'bg/city/square.jpg' %>
            <%= image_tag 'bg/city/street.jpg' %>
        <% end %>
    </div>
    <div id="search-title">
        <div id="logo-title">
            <a href="/"><h1>SuperKayo</h1></a>
            <h2>Your hub for anything Kayo</h2>
        </div>
    </div>
    <%= yield %>
    <div id="footer">
        <ul id="link-list">
            <li><a href="https://github.com/ivakam/city-album-chart">GitHub</a></li>
            <li><a href="mailto:staff@superkayo.xyz">Email</a></li>
            <li><a href="https://discord.gg/ejewttb">City pop Discord server</a></li>
        </ul>
        <div id="disclaimers">
            <p>Site currently hosting&nbsp;</p>
            <p id="album-count"><%= album_count.to_s %></p>
            <p>&nbsp;albums</p>
            <p>Thanks to the people behind <a href="https://evil-icons.io/">evilicons</a> for providing amazing assets for
                free.
            </p>
        </div>
    </div>
</div>
</body>
</html>
