<% title "Please log in to continue" %>
<div id="main-container">
	<%= render 'partials/navbar_slim' %>
	<div id="login-container">
	    <div id="main-opacity"></div>
    	<h2>You don't have access to this page. Please log in to continue.</h2>
        <form enctype="multipart/form-data" action="<%= root_url %>login" accept-charset="UTF-8" data-remote="true" method="post">
            <div>
                <label for="barrier-username"><h3>Username</h3></label>
                <input id="barrier-username" placeholder="Username" type="text" name="session[username]">
            </div>
            <div>
                <label for="barrier-password"><h3>Password</h3></label>
                <input id="barrier-password" placeholder="Password" type="password" name="session[password]">
            </div>
            <input value="Login" type="submit" name="commit">
            <a class="register-btn">No account? Register here</a>
        </form>
    </div>
</div>