<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      h1 {
        padding: 25px 40px;
        margin: 15px 0 !important;
        font-size: 35px;
        background: #1b180b;
        border-radius: 8px;
        color: #e8e8e8;
      }
      p, a {
        font-size: 17px;
      }
      .confirm-btn {
        padding: 20px 35px;
        border-radius: 20px;
        background: #1b180b;
        color: #e8e8e8 !important;
        font-size: 22px;
        text-decoration: none;
        margin: 10px 0 40px 0 !important;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
